/* @group Reset */

/* My Comment */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, p,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;
	font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/


/* @end */

/* @group Classes */

.fl{
	float: left;
}

.fr{
	float:right;
}

.m1{
	margin: 10px;
}

.ml1{
	margin-left: 10px;
}

.mr1{
	margin-right: 10px;
}

.mt1{
	margin-top: 10px;
}

.mb1{
	margin-bottom: 10px;
}

.m2{
	margin: 20px;
}

.ml2{
	margin-left: 20px;
}

.mr2{
	margin-right: 20px;
}

.mt2{
	margin-top: 20px;
}

.mb2{
	margin-bottom: 20px;
}



.m3{
	margin: 30px;
}

.ml3{
	margin-left: 30px;
}

.mr3{
	margin-right: 30px;
}

.mt3{
	margin-top: 30px;
}

.mb3{
	margin-bottom: 30px;
}

.m4{
	margin: 40px;
}

.ml4{
	margin-left: 40px;
}

.mr4{
	margin-right: 40px;
}

.mt4{
	margin-top: 40px;
}

.mb4{
	margin-bottom: 40px;
}

.mb6{
	margin-bottom: 60px;
}

.oh{
	overflow: hidden;
}

.centeredblock{
	margin-left: auto;
	margin-right: auto;
}


/* @end */

/* @group Grid */

.grid {
  width: 960px;
}
.grid1 {
  width: 60px;
}

.grid2 {
  width: 140px;
}

.grid3 {
  width: 220px;
}

.grid4 {
  width: 300px;
}

.grid5 {
  width: 380px;
}

.grid6 {
  width: 460px;
}

.grid7 {
  width: 540px;
}

.grid8 {
  width: 620px;
}

.grid9 {
  width: 700px;
}

.grid10 {
  width: 780px;
}

.grid11 {
  width: 860px;
}

.grid12 {
  width: 940px;
}

/* @end */