/*
Contact Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
All the style elements use form id selector(notice the #contactus). So, including this
stylesheet does not affect the other elements at all!
*/

#contactus fieldset
{
   width:370px;
   height: 650px;
   border:0px solid #ccc;
   margin-left: 0 !important;
   margin-right: 0 !important;
}

#contactus legend, #contactus h2
{
   font-family: "Gotham-Bold", Verdana;
   font-size: 10pt;
   font-weight:bold;
   color:white;
   text-align: center;
   margin-top: 190px;
}

#contactus label
{
   font-family: "Gotham-Bold", Verdana;
   font-size:10pt;
   color:white;
   margin-bottom: 5px;
}

#contactus input[type="text"],#contactus textarea
{
  font-family: "Gotham-Bold", Verdana;
  font-size: 10pt;
  line-height:140%;
  color : #3F3E43; 
  padding : 3px; 
  border : 1px solid #CECCCC;
  margin-bottom: 24px;
}

#contactus input[type="text"]
{
  height:25px;
  width:370px;
    
}

#contactus input:hover, #contactus textarea:hover
{
	background-color: #ffecca;

  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s, background 0.4s;;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s, background 0.4s;;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s, background 0.4s;;
          transition: border linear 0.2s, box-shadow linear 0.2s, background 0.4s;;

}

#contactus input:focus, #contactus textarea:focus
{
  border-color: #212121 !important;
  outline: 0;
  outline: thin dotted \9;
  
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255, .1), 0 0 8px rgba(0,0,0, .4);
     -moz-box-shadow: inset 0 1px 1px rgba(255,255,255, .1), 0 0 8px rgba(0,0,0, .4);
          box-shadow: inset 0 1px 1px rgba(255,255,255, .1), 0 0 8px rgba(0,0,0, .4);
}

#contactus #scaptcha
{
  width:60px;
  height:18px;
}

#contactus input[type="submit"]
{
   font-family: "Gotham-Bold", Verdana;
   font-size: 10pt;
   width:70px;
   height:30px;
   padding-left: 4px;
   cursor: pointer;
   line-height: 20px;
   border: 0px solid black;
   background-color: #FFA300;
   color: white;
   
	
}

#contactus input[type="submit"]:hover {
	background-color: #e39000;
	color: white;
	cursor: pointer;
	transition: 0.1s;
	-moz-transition: 0.1s; /* Firefox 4 */
	-webkit-transition: 0.1s; /* Safari and Chrome */
	-o-transition: 0.1s; /* Opera */	

}


#contactus textarea
{
  height:218px;
  width:370px;
  min-width: 370px;
  max-width: 370px;
  min-height: 218px;
  max-height: 218px;
  
}

#contactus input[type="text"]:focus,#contactus textarea:focus
{
  color : #3F3E43;
  border : 1px solid #990000;
  background-color : white;
  font-size: 10pt;
}


#contactus .error
{
font-family: "Gotham-Bold", Verdana;
   font-size: 10pt;
   color: #FFA300;
}

#contactus fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

#contactus fieldset#antispam legend
{
	font-family: "Gotham-Bold", Verdana;
   font-size: 0.8em;
   color:#3F3E43;   
}

#contactus .short_explanation
{
   font-family: "Gotham-Bold", Verdana;
   font-size: 10pt;
   color:#FFA300; 
   margin-top: 10px;
  
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#contactus .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_crdiv
{
	font-family: "Gotham-Bold", Verdana;
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#fg_crdiv p
{
    display:none;
}