#slides {
	display: none
}
a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
	background-image: url(../img/btns-next-prev.png);
	background-repeat: no-repeat;
	display: block;
	width: 12px;
	height: 18px;
	overflow: hidden;
	text-indent: -9999px;
	float: left;
	margin-right: 5px;
}
a.slidesjs-play,
a.slidesjs-stop {
	z-index: 30;
	position: absolute;
	margin: -27px 0 0 840px;
}
a.slidesjs-next {
	margin-right: 10px;
	background-position: -12px 0;
}
a:hover.slidesjs-next {
	background-position: -12px -18px;
}
a.slidesjs-previous {
	background-position: 0 0;
}
a:hover.slidesjs-previous {
	background-position: 0 -18px;
}
a.slidesjs-play {
	width: 15px;
	background-position: -25px 0;
}
a.slidesjs-play:hover,
a.slidesjs-stop:hover,
#slides a:hover {
	background-color: rgba(255,255,255,0) !important;
}
a:hover.slidesjs-play {
	background-position: -25px -18px;
}
a.slidesjs-stop {
	width: 18px;
	background-position: -41px 0;
}
a:hover.slidesjs-stop {
	background-position: -41px -18px;
}
.slidesjs-pagination {
	margin: -24px 0 0 870px;
	float: right;
	list-style: none;
	z-index: 30;
	position: absolute;
}
.slidesjs-pagination li {
	float: left;
	margin: 0 1px;
}
.slidesjs-pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url(../img/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
	background-position: 0 -13px
}
.slidesjs-pagination li a:hover {
	background-position: 0 -26px
}
#slides a:link,
#slides a:visited {
	color: #333
}
#slides a:hover,
#slides a:active {
	color: #9e2020
}
.navbar {
	overflow: hidden
}
a.slidesjs-next,
a.slidesjs-previous {
	display: none;
}
#slides {
	display: none
}
.container {
	margin: 20px auto 0 auto;
	width: 960px;
	height: 465px;
}