/* Novo layout */


.header_t {
	height: 135px;
}
.logo_t {
	width: 90px;
	height: 90px;
}
.logo_t a:hover {
	background-color: transparent !important;
}
.logo_t img {
	text-align: center;
}
.social_t {
	width: 170px;
	height: 90px;
	margin-left: 700px;
}
.social_t li {
	height: 23px;
}
.social_t ul {
	margin-top: 13px;
}
.social_t a p:hover,
.pressbarra_t h6:hover {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	color: #FF8103;
}
.nav_t {
	height: 45px;
	width: 100%;
	background-color: rgba(0,0,0,0.70);
}
.nav_t ul {
	width: 100%;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
}
.nav_t ul li a {
	color: white;
	text-decoration: none;
	padding: 10px 30px;
	line-height: 45px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.nav_t ul li a:hover {
	color: #FF8103;
}
.nav_t ul li {
	display: inline;
}
.titulo_t {
	height: 90px;
	width: 940px;
	margin-top: 140px;
}
.local_t {
	margin-bottom: 16px;
}
.reserva_t,
.local_t,
.titulo_t,
.porque_t,
.porquetitulo {
	margin-left: 10px;
}
.content_t {
	background-color: rgba(255,255,255,0.2);
	height: auto;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 28px;
}

.content_t.mainevent {
	margin-bottom: 0px;
	margin-top: 28px;
}

.content_t.mainevent h1{
	color:#FFF;
	line-height: normal;
	margin: 10px 10px 0;
	padding: 10px;
	background:rgba(0, 0, 0, 0.7);
}


.content_t.maineventlist {
	margin-top: 0px;
}
.tnevent {
	height: 185px;
	position: relative;/* 	background-color: #FF8103; */
}
.hist img {
	width: 100%;
}
.tnevent:hover > #imag_t {
	opacity: 0.8;
}
.tnevent > #imag_t img {
	max-width: 100%;
}
.nome_t {
	width: auto;
	height: 156px;
	position: absolute;
	top: 5px;
	left: 5px;
}
.barra_t {
	height: 25px;
	width: 100%;
	background-color: rgba(0,0,0,0.70);
	position: absolute;
	top: 160px;
}
.barra_t img {
	width: auto !important;
}
.slogan_t {
	margin-top: -85px;
	position: relative;
	z-index: 10;
	width: 930px;
}
.porquecont_t {
	height: 365px;
	background-color: black;
	padding-top: 100px;
	background-image: url('../img/porque.jpg');
}
.porquetitulo {
	width: 530px;
	margin-bottom: 20px;
}
.porque_t {
	width: 530px;
	height: auto;
	background-color: rgba(0,0,0,0.70);
}
.vantagem {
	height: auto;
}
#why li {
	margin: 30px 30px 0 70px;
}
.vantagem img:hover,
.funciona img:hover {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	margin-top: -10px;
}
.vantagem img {
	width: 120px;
	height: 120px;
	margin-left: 5px;
}
.press {
	width: 185px;
	height: 172px;
	margin-right: 9px;
	position: relative;
}
.negpress {
	margin-right: -9px !important;
}
.pressbarra_t {
	height: 25px;
	width: 100%;
	background-color: black;
	position: absolute;
	top: 90px;
}
.pressdesc_t {
	background-color: rgba(0,0,0,0.50);
	width: 185px;
	height: 45px;
	margin-top: -4px;
}
.funciona {
	background-color: rgba(0,0,0,0.50);
	min-height: 520px;
	height: auto;
	padding-bottom: 50px;
}
.funciona li {
	width: 121px;
	z-index: 20;
	position: relative;
	margin-right: 64px;
}
.negfunciona {
	margin-right: -64px !important;
}
.linha {
	background-color: #EF7E1B;
	width: 850px;
	height: 6px;
	top: 65px;
	z-index: 10;
	position: relative;
}
.footer_t {
	height: 45px;
	background-color: rgba(0,0,0,0.70);
	margin-bottom: 70px;
}
.termos_t {
	margin-left: 330px;
}
.trinity_t {
	margin-top: 15px;
	margin-right: 10px;
}
/* Tipografia */
.slogan_t,
.barra_t h5,
.barra_t h6,
.nome_t h3,
.nome_t h4,
.titulo_t h1,
.reserva_t h5,
.porque_t h4,
.porquetitulo h1,
.vantagem h1,
.vantagem p,
.pressdesc_t h6,
.funciona h1,
.funciona h2,
.funciona p {
	font-family: 'Roboto Condensed', sans-serif;
}
.social_t p,
.nav_t a,
.pressdesc_t p {
	font-family: 'Arimo', sans-serif;
}
.social_t a,
.footer_t a,
.nav_t a,
.reserva_t a {
	text-decoration: none;
}
.nav_t a {
	font-size: 12px;
	color: white;
	line-height: 45px;
	font-weight: 700;
}
.social_t a p {
	font-size: 12px;
	color: white;
	font-weight: 400;
	line-height: 20px;
}
.titulo_t h1,
.porquetitulo h1 {
	color: white;
	font-size: 90px;
	font-weight: 700;
	margin: 0;
	line-height: 90px;
	text-shadow: 1px 1px 5px black;
	-moz-text-shadow: 4px 0px 0px black;
}
.titulo_t h1,
.nav_t ul li a,
.nome_t h3,
.reserva_t h5,
.porquetitulo h1 {
	text-transform: uppercase;
}
.local_t h4 {
	color: white;
	font-size: 24px;
	font-weight: 700;
	padding: 0 5px;
	background-color: rgba(0,0,0,0.70);
	line-height: 35px;
	display: inline;
	margin: 0;
}
.reserva_t h5 {
	color: white;
	font-size: 24px;
	font-weight: 700;
	padding: 0 5px;
	background-color: #FF8103;
	line-height: 15px;
	display: inline;
	margin: 0;
}
.slogan_t h3 {
	background-color: rgba(0,0,0,0.70);
	display: inline;
	color: white;
	font-size: 31px;
	line-height: 46px;
	margin: 0 0 0 -5px;
	padding: 0 5px 0 5px;
}
.nome_t h3 {
	background-color: rgba(0,0,0,0.70);
	display: inline;
	color: white;
	font-size: 27px;
	font-weight: 700;
	line-height: 39px;
	margin: 0;
	padding: 0 5px 0 5px;
}
.nome_t h4 {
	background-color: rgba(0,0,0,0.70);
	display: inline;
	color: white;
	font-size: 20px;
	font-weight: 700;
	line-height: 37px;
	margin: 0;
	padding: 0 5px 0 5px;
}
.barra_t h6,
.pressbarra_t h6 {
	color: white;
	margin: 0 0 0 10px;
	font-size: 12px;
	line-height: 25px;
	font-weight: 300;
}
.barra_t h5 {
	color: #FF8103;
	margin: 0 5px 0 0;
	font-size: 19px;
	line-height: 25px;
	font-weight: 700;
}
.footer_t p {
	font-size: 10px;
	color: white;
	font-weight: 400;
	line-height: 45px;
}
.porque_t h4 {
	color: white;
	font-size: 16px;
	font-weight: 400;
	padding: 10px;
	line-height: 22px;
	margin: 0;
	letter-spacing: 1px;
}
.vantagem h1 {
	color: white;
	font-size: 60px;
	font-weight: 700;
	padding: 30px 0;
	text-align: center;
	letter-spacing: 2px;
	background-color: rgba(0,0,0,0.70);
	margin: 0;
}
.vantagem p {
	color: white;
	font-size: 19px;
	line-height: 22px;
	font-weight: 700;
	text-align: center;
	padding: 10px 0;
	margin-top: 10px;
}
.pressdesc_t p {
	color: white;
	font-size: 11px;
	line-height: 15px;
	padding: 8px 7px;
	font-weight: 400;
}
.funciona h1 {
	color: white;
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	margin: 70px;
	line-height: 90px;
}
.funciona h2 {
	color: white;
	text-align: center;
	font-size: 60px;
	font-weight: 700;
	margin: 35px;
}
.funciona p {
	color: white;
	text-align: center;
}
/* HORARIO */

.horarios select,
.select_evento {
	font-family: "Roboto Condensed", sans-serif;
	width: 240px;
	height: 33px;
	background-color: white;
	padding: 5px;
	font-size: 18px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	background: url('../assets/down_arrow_selects.jpg') no-repeat right #ddd;
}
#horario,
#preco {
	color: white;
	font-size: 26px;
	font-family: "Roboto Condensed", sans-serif;
	line-height: 30px;
	width: 80px;
}
.horario {
	width: 760px;
}
.horario p {
	font-size: 16px;
	line-height: 26px;
}

/* Tablet portrait */

@media only screen and (max-width: 1025px) {
.grid {
	width: 724px;
}
.grid {
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}
.grid11 {
	width: 700px;
}
/* Nav Bar */

.header_t {
	height: 200px;
}
.nav_t {
	height: 90px;
	margin-bottom: 30px;
	width: 100%;
}
.nav_t ul {
	width: 80%;
}
.nav_t ul li {
	margin-right: 5px;
}
.nav_t ul li a {
	padding: 10px 10px;
}
.social_t {
	float: right;
	margin-left: 0;
}
/* Pagina inicial */

.titulo_t {
	margin-top: 90px;
	width: 690px;
	height: 70px;
}
.local_t {
	margin-bottom: 6px;
}
.titulo_t h1,
.porquetitulo h1 {
	font-size: 70px;
	line-height: 70px;
}
.local_t h4,
.reserva_t h5 {
	font-size: 19px;
}
.tnevent {
	margin: 10px 30px;
}
.container {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 355px;
}
.slogan_t {
	margin-top: -85px;
	width: 690px;
}
.slidesjs-pagination {
	margin: -24px 0 0 660px;
}
a.slidesjs-play,
a.slidesjs-stop {
	margin: -27px 0 0 638px;
}
.content_t {
	margin-top: 90px;
	padding-top: 20px;
}
/* Porque */

.press {
	margin: 10px 10px;
}
.porquecont_t {
	margin-bottom: 30px;
}
.vantagem li {
	margin-right: 41px;
}
.negvantagem {
	margin-right: -41px;
}
.vantagem h1 {
	line-height: 70px;
	padding: 10px 0;
}
#why {
	width: 90%;
	padding: 5%;
	margin: 0;
}
#why li {
	margin: 5% 3%;
}
/* Reservar */

.linha {
	width: 690px;
}
.funciona li {
	margin-right: 24px;
}
.negfunciona {
	margin-right: -24px !important;
}
/* Horario */

.funciona h1 {
	margin-top: 30px;
	line-height: 75px;
}
.horario {
	width: 560px;
}
.termos_t {
	margin-left: 210px;
}
#backticket,
#backticket_1 {
	width: 100%;
}
#backleft,
#backleft_1,
#backright,
#backright_1 {
	float: left;
	display: block;
}
#backleft,
#backleft_1 {
	background-color: white;
	position: relative;
}
#event-cont {
	height: 970px !important;
}
#backleft,
#backleft_1,
#backright,
#backright_1 {
	width: 100%;
}
#ticket_data {
	float: right;
}
#ticket_data h4 {
	text-align: right;
}
#ticket_descricao {
	margin-top: 100px;
}
#ticket_local {
	margin-left: 21px;
	margin-top: 10px;
}
#ticket_artista {
	margin-left: -57px;
	margin-top: 40px;
}
#ticket_local,
#ticket_artista {
	width: auto;
}
}

/* For smaller displays like laptops */
@media only screen and (max-width: 960px) {
.slidesjs-pagination {
	margin: -24px 0 0 69%;
}
a.slidesjs-play,
a.slidesjs-stop {
	margin: -27px 0 0 66%;
}
.slogan_t {
	width: 700px !important;
}
.slogan_t h3 {
	font-size: 26px !important;
}
.content_t {
	margin-top: 8%;
}
.slogan_t {
	margin-top: -23%;
}
.slogan_t h3 {
	margin: 0 0 0 10%;
}
#termoscon {
	width: 80%;
}
#reservar ul {
	padding: 0 10px;
	width: 70%;
}
.linha {
	display: none !important;
}
.funciona li {
	margin-right: 10px;
}
.horario {
	width: 570px;
}
.termos_t {
	margin-left: 110px;
}
}
 @media only screen and (max-width: 719px) {
#slidecont,
#slides,
a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop,
.slidesjs-pagination,
.slogan_t,
.linha {
	display: none !important;
}
.content_t {
	margin-top: 0%;
}
#slidecont {
	height: 5px !important;
}
.porque_t {
	width: 450px;
}
#reservar ul {
	width: 80%;
}
#reservar li {
	margin-bottom: 15%;
	height: 300px;
}
.horario {
	width: 220px;
}
.backleft_right {
	margin-left: 270px;
}
}
 @media only screen and (max-width: 590px) {
#bg_1 {
	background-color: #333;
}
#bg,.linha {
	/*display: none !important;*/
}
.content_t {
	background-color: rgba(255, 255, 255, 0.6);
	margin-top: 33%;
}
.logo_t {
	width: 70%;
	padding-left: 15%;
	padding-right: 15%;
}
.social_t {
	margin-bottom: 3%;
	float: left;
}
.nav_t {
	/*background-color: rgba(255, 255, 255, 0.6);*/
	height: auto;
}
.nav_t ul li {display:block; float:left; width:100%;}

.tnevent {
	margin: 10px 3%;
	width: 94%;
}
.vantagem h1,
.footer_t {
	background-color: rgba(255, 255, 255, 0.6);
}
.termos_t {
	margin-left: 5%;
}
#content {
	width: 94%;
	padding: 10px 3%;
}
#termoscon {
	width: auto;
}
#why li {
	margin: 5% 11%;
}
#why li,
#why li img {
	width: 70px;
}
#why li img {
	height: 70px;
}
.porquetitulo h1 {
	font-size: 40px;
	line-height: 50px;
}
.porquecont_t {
	margin-top: 83%;
}
.porque_t {
	width: 80%;
}
#pub {
	padding-left: 15%;
	padding-right: 15%;
	width: 50%;
}
.vantagem h1,
.funciona h1 {
	font-size: 40px;
	line-height: 50px;
}
.funciona {
	background-color: rgba(255, 255, 255, 0.6);
}
.funciona h1 {
	margin: 70px 0;
}
#reservar ul {
	width: 40%;
}
#reservar li {
	margin-bottom: 50%;
}
#event-cont {
	/*height: 1650px !important;*/
}
#ticket_descricao {
	width: 80%;
	margin-bottom: 16px;
}
#ticket_locais {
	position: initial;
	bottom: auto;
}
#ticket_reserva {
	right: 5px;
	margin-right: 0;
}
#ticket_artista {
	margin-left: 0;
	padding-left: 3px;
	margin-top: 10px;
}
#ticket_artista h2 {
	line-height: 50px;
}
#ticket_reserva,
#ticket_price {
	position: initial;
	bottom: auto;
}
.ticket_h4,
#widthh2 {
	width: 60%;
}
#backright_1 {
	height: 530px;
}
#backleft {
	/*height: 720px;*/
	height:auto;
}
#ticket_descricao_1 {
	margin-left: 10px;
}
#backleft_1 {
	height: 970px;
}
#backleft_2 {
	width: 80%;
}
#form1 {
	margin-left: 10px;
}
#form2 {
	float: left;
	margin-left: 10px;
}
.box {
	left: 5%;
}
.reserv {
	margin-left: 80px;
}
.horario {
	width: 95%;
}
.footer_t {
	height: 140px;
	margin-bottom: 20px;
}
.copy_t,
.termos_t {
	display: block;
	width: 100%;
	text-align: center;
	margin-left: 0;
}
.trinity_t {
	float: none !important;
	text-align: center;
	margin-top: 5px;
}
.map_iframe,
.formulario,
.coluna h4 {
	width: 250px;
}
}
/* DETALHES RESERVA */
#target_partida, #target_volta {
	font-size: 11px;
	padding:4px 6px;
}

/* messages */
.alert {
	width:950px;
	margin:15px auto 0;
	padding:40px 5px;
	text-align:center;
	color:#FFF;}

.alert.alert-success{
	background:rgba(0, 227, 70, 0.50);}