html, body{
	height: 100%;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 18px;
}

.abs_slide{
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	z-index: 20000;
	background-color: transparent;
}
.agrd{
 font-weight: 600 !important;	
}

.agrd_1{
 font-weight: 600 !important;	
 font-size: 33px;
 line-height: 50px;
}

.optimusalive{
	width: 920px !important;
	height: 575px !important;
	margin-left: auto !important;
	margin-right: auto !important;	
}

.formulario{
	width: 425px;
	height: 700px;
	margin-left: -11px;
}

/* Background */

.lt-ie9 .main_background {
    background-color:black;
}

#bg_1{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width:100%;
    height: 100%;
    background-color: black;
}

#bg{
	position: fixed;
	background-color: black;
	top: 0px;
	left: 0px;
	display: inline;
	z-index: -1;
	opacity: .6;
	
}
.bgwidth{
    width:100%;
}

.bgheight {
    height: 100%;
}

.wrapper{
}

/* HEADER */

#header{
/* 	height: 140px; */
	width: 100%;
}

#top_bar{
	height: 5px;
	width: 100%;
	background-color: rgba(255,255,255,0.3);
	color: white;
/* 	border-bottom: 4px solid rgba(255,163,0,0.8); */
}

.search{
	width: 1140px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.search_button{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 13px;
	text-align: center;
	line-height: 25px;
	height: 25px;
	width: 160px;
	background-color: #3a3a3a;
	color: white;
	float: right;
	margin-top: 5px;
	border-radius: 5px;
}

#nav{
	width: 100%;
	height: auto;
	position: absolute;
}

#nav_ctr{
	width: 1140px;
	height: 94px;
	margin-left: auto;
	margin-right: auto;
}

.logo{
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	width: 450px;
	height: 94px;
	margin-top: 30px;
	float: left;
}

.logo h4{
	margin-top: 55px;
	margin-left: 70px;
	color: white;
	font-weight: 400;
	font-size: 16px;
	font-style: italic;
}

#nav ul{
	width: 465px !important;
	height: 94px;
	float: right;
}
#nav ul li a{
	float: left;
	padding: 50px 5px 10px 5px;
	text-align: center;
	opacity: .9;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	color: white;
	font-style: normal;
}


#nav ul li a:hover{
	background-color: rgba(255,255,255,0.3);
	opacity: .9;
	color: white;
}


/* CONTENT */

#content{
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}


/* Index */

.prereserva{
	background-color: transparent !important;
	position: absolute;
	z-index: 1;
	right: 0px;
}

#evento_in{
	width: 1154px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0);
	
}

.index_event ul{
	width: auto !important;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	background-color: red !important;
}

#evento_in ul{
	width: 1154px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}


/* Portfolio */

.viewport{
	height: 550px !important;
	width: 219px !important;
	margin-left: 9px;
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
	position: relative;
	overflow: hidden;
}

.date{
	margin-left: 0px;
	bottom: 200px;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	height: 20px;
	width: auto;
	padding: 10px;
}

.date h3{
	color: white;
	font-size: 35px;
	font-weight: 400;
	float: left;
	line-height: 20px;
	margin: 0;
}

.date h4{
	color: white;
	font-size: 15px;
	font-weight: 400;
	float: left;
	line-height: 35px;
	margin: 0;
}

.evento_descricao{
	height: 169px;
	width: 219px;
	margin-left: 0px;	
	float: left;
	top: 381px;
	position: absolute;
	background-image: url(../img/bg_evento.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

.evento_descricao h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 28px;
	line-height: 29px;
	color: #f8f8f8;
	margin-top: 5px;
	margin-left: 0;
	opacity: .9;
	margin-bottom: 5px;
}

.evento_descricao h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #f8f8f8;
	margin-top: 3px;
	opacity: .9;	
}

.evento_descricao h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 38px;
	color: rgba(255,163,0,1);
	margin-top: 0px;
	line-height: 10px;
	float: left;
}

.evento_descricao h4{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 25px;
	color: rgba(255,163,0,1);
	margin-top: 0px;
	line-height: 19px;
	float: left;
	opacity: .9;
}

.fpd{
	margin-top: 30px !important;
}

.content_title{
	height: 64px;
	width: 210px;
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 2px;
}

.content_price{
	height: 55px;
	width: 140px;
	bottom: 20px;
	margin-left: 10px;
	margin-top: 4px;	
	float: left;
}

.info{
	background-image: url(../img/button_info.png);
	background-repeat: no-repeat;
	float: left;
	height: 25px;
	width: 25px;
	bottom: 10px;
	left: 180px;
	opacity: .9;
	position: absolute;
}

.info:hover{
	background-image: url(../img/button_info_hover.png);
	background-repeat: no-repeat;
}

/* hover effect */
.no-margin {
    margin-right: 0;
}

.viewport a img {
	background-color: rgba(0,0,0,0.0);
	margin-left: 0px;
	float: left;
    position: relative;
}

.viewport a span {
	font-family: 'Source Sans Pro', sans-serif;
	display: none;
    left: 0px;
    margin-top: 0px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    width: 219px;
    height: 550px;
    padding: 20px;
    line-height: 40px;
    font-weight: 400;
}

.dark-background {
    background-color: rgba(0,0,0,0.7);
    font-size: 30px;
    font-weight: 400;
	color: rgba(255,255,255,0.7);
}


/* FOOTER */

#footer{
	width: 100%;
	height: 25px;
	background-color: rgba(0,0,0,0.7);
	clear:both;
	position: fixed;
	bottom: 0;
	z-index: 9999;
}

#bottom_bar{
	width: 1136px;
	margin-left: auto;
	margin-right: auto;
}

.footcent{
	width: 215px;
	height: 25px;
}

.copyright{
	width: 140px;
	height: 25px;
}

.footcent a{
	text-decoration: none;
/* 	color: white; */
}

.copyright, .footcent a{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: white;
	opacity: 0.7;
	line-height: 25px;
	height: 25px;
}

.trinity{
	width: 60px;
	float: right;
	opacity: 0.7;
}

/* Evento */
.callout.callout-danger {
  background: rgba(255, 0, 0, 0.6);
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
  padding: 10px;
}
#backticket, #backticket_1{
	/* width: 1136px; */
	width:960px;
	height: 488px;
	padding-top: 50px;
}

#backleft, #backleft_1{
	height: 488px;
	width: 640px;
	background-image: url('../img/corte_evento.png');
	background-repeat: repeat-y;
	background-position: right top;
	z-index: 10px;
	position: absolute;
}

#backright, #backright_1{
	height: 488px;
	width: 463px;
	background-color: black;
}

#backright_1 h2{
	color: #FFA300 !important;
	margin-left: 20px !important;
}

#backright_1 h4{
	color: white !important;
	margin-left: 20px !important;
}

#ticket_descricao_1{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: white;
	opacity: 0.9;
	line-height: 30px;
	color: white !important;	
	margin-left: 150px;
	margin-top: 20px;
	width: 300px;
}

#ticket_local, #ticket_artista{
	width: 485px;
	margin-left: 20px;
}

#ticket_local, #ticket_data{
	margin-top: 30px;
}

#ticket_data{
	margin-right: 20px;
	margin-left: 20px;
	text-align:right;
}

#ticket_data h1{
margin:0;}

#ticket_descricao{
	margin: 40px 20px 40px 20px;
	line-height: 24px;
	width: 620px;
}

#ticket_locais{
	position: absolute;
	bottom: 80px;
	margin: 10px 0 30px 20px;
}

#ticket_price{
	position: absolute;
	bottom: 40px;
	margin-left: 18px;
}

.price {
	margin-top: 5px !important;
	font-size: 40px!important;
	font-weight: 600!important;
	color: #FFA300 !important;
}

#ticket_reserva{
	position: absolute;
	bottom: 30px;
	right: 50px;
	width: 125px;
	height: 35px;
	background-image: url(../img/confirmar_fo.png);
	background-repeat: no-repeat;
	margin-right: 20px;
	margin-top: 20px;
	border: none;
	background-color:rgba(255,255,255,0);
}

#ticket_reserva:hover{
	background-image: url(../img/confirmar_fo_hover.png);
	background-repeat: no-repeat;
}

.reserv{
	margin-left: 170px;
	margin-top: 30px;
}

.reserv input{
	left: 0px;
	margin-top: -100px;
	width: 120px;
	height: 30px;
	margin-right: 20px;
    border-radius: 3px;
	width: 125px;
	height: 35px;
	background-image: url(../img/reserva_fo.png);
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.reserv input:hover{
	background-image: url(../img/reserva_fo_hover.png);
	background-repeat: no-repeat;
}

.regress{
	margin-left:0px;
}

.partida_event, .hour_event{
	margin-left: -12px !important;
}

#partida{
	max-height: 90px;
	margin-top: -10px;
}

#reservation_datein{
	margin-bottom: -10px !important;
	margin-right: 200px;
}

.ticket_h2{
	font-size:40px;
	font-weight: 600;
	color: #FFA300;
	margin: 40px 0 40px 0;
	width: 400px;
}

#widthh2{width: 300px; line-height: 35px; margin: 20px 0 20px 0;}

.ticket_h3{
	font-size: 20px;
	font-weight: 600;
	color: white;
	margin: 17px 40px 0px 0;
}

.ticket_h4{
	font-size: 26px;
	font-weight: 600;
	color: white;
	margin: 0 0 0px 0;
}

.ticket_h5{
	font-size:18px;
	font-weight: 400;
	color: white;
	margin: 10px 0 0 0;
	line-height: 20px;
}

#ticket_descricao h4, #ticket_locais h4, #ticket_locais h4{
	font-size: 16px;
	font-weight: 400;
	color: #555;
	margin: 0 0 20px 0;
}

#ticket_descricao a{
	color: #555555;
	background-color: white;
}

#ticket_descricao a:hover{
	color: #FFA300;
	background-color: white;
}

#ticket_data h4, #ticket_local h4{
	font-size: 23px;
	font-weight: 400;
	color: #555;
	margin: 0 0 8px 0;
}

#ticket_price h4{
	font-size: 23px;
	font-weight: 400;
	color: #555;
	margin: 0 0 20px 0;
}

#ticket_artista h2, #ticket_data h2, #ticket_price h2, #form h5{
	font-size:40px;
	font-weight: 600;
	color: #FFA300;
	margin: 0;
}

#ticket_locais h5, #ticket_price h5{
	font-size:22px;
	font-weight: 400;
	color: #FFA300;
	margin: 0;
}

#ticket_reserva h5{
	font-size:18px;
	font-weight: 400;
	color: white;
	margin: 0;
	line-height: 30px;
	text-align: center;
}

#ticket_locais h5{
	margin-bottom: 5px;
	line-height: 0;
}

#ticket_price h2{
	margin-top: -10px;
}

#ticket_price h5{
	margin-top: 25px;
}

.image_footer{
	width:1136px;
	height:12px;
	margin-top: -3px;
}

.backleft_right{
	margin-left: 340px;
}


/* Nos */

#termoscon h4 a, #termoscon h5 a{
	text-decoration: none;
	color: white;

}

#termoscon ul li img{
	margin-top: 40px;
}

/* Termos e Condições */

#termoscon{
	width: 960px;
/* 	background-color: rgba(0,0,0,0.3); */
	background-color: transparent;
	padding-top: 15px;
	padding-bottom: 10px;
}


#termoscon ul{
	margin-left: auto;
	margin-right: auto;
}

#termoscon h2, #termoscon h3, #termoscon h4{
	padding: 0;
	margin: 0;
}

#termoscon h2{
	color: white;
	font-weight: 400;
}

#termoscon p{
	font-family: 'Fjalla One', sans-serif;
	color: #FFA300;
	font-weight: 400;
	font-size: 63px;
	margin-top: 20px;
}

#termoscon h1{
	font-family: 'Fjalla One', sans-serif;
	color: white;
	font-weight: 400;
	font-size: 38px;
	margin: 34px 0 60px 0px;
	opacity: .9;
}

#termoscon h2{
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
	opacity: .9;
}

#termoscon h4{
	color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 40px;
	margin-top: 10px;
	padding-bottom: 0px;
	opacity: .7;
}

#termoscon b{
	color:#FFA330;
	font-size: 16px;
}

/* Contacto */

#termoscon h5{
	color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 0px;
	margin-top: 10px;
	margin-right: 30px;
	padding-bottom: 10px;
	opacity: .7;
	float: left;
}

#termoleft{
	width: 615px;
	height: auto;
	margin-left: 0px;
	margin-top: 10px;
	float: left;
	font-family: 'Source Sans Pro', sans-serif;
	background: none;
}

.map_iframe{
	width: 545px;
	height: 339px;
}

#termoright{
	width: 491px;
	height: auto;
	margin-left: 0px;
	margin-top: 3px;
	float: left;
	font-family: 'Source Sans Pro', sans-serif;
	background: none;
}

#termoleft .face h5 a{
	color:#1c3a7b;
}

#termoleft .coluna{
	width: 553px !important;
}

#termoleft .coluna1{
	width: 276px;
}

#termoright a{
	text-decoration: none;
}

#termoright li{
	margin-top: 10px;
}

#termoright ul{
	margin-top: 0 !important;
}

.enviar{
	border: 0px;
    border-radius: 4px;
	background-color: #FFA300;
	width: 50px;
	height: 20px;
}

#formcontact input{
	height: 18px;
}
#contact_message{
	height: 100px;
	resize: none;
}
.txt_imput{
	width: 150px;
}

.txt_imput h6{
	color: white;
	font-size: 20px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 24px;
}

.txt_imput h3{
	color: white;
	font-size: 10px;
	font-weight: 400;
}

.caixa_imput{
	width: 403px;
}

#nome, #email, #telefone, #assunto{
	width: 395px;
	height: 20px;
	font-size: 16px;
}

#message{
	max-width: 395px;
	min-width: 395px;
	max-height: 185px;
	min-height: 185px;
	font-size: 16px;
}

#nome, #email, #telefone, #assunto, #message{
    border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
/* BORDER */	
  background-color: #ffffff;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	
/* TRANSITION */
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

#nome:focus, #email:focus, #telefone:focus, #assunto:focus, #message:focus{
  border-color: rgba(255, 163, 0, 0.8);
  outline: 0;
  outline: thin dotted \9;
  
  
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 163, 0, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 163, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 163, 0, 0.6);
}

.enviar_form{
	background-image: url(../img/enviar_fo.png);
	width: 120px;
	height: 30px;
	background-repeat: no-repeat;
	margin-right: 5px;
	margin-top: 10px;
}

.enviar_form:hover{
	background-image: url(../img/enviar_fo_hover.png);
	background-repeat: no-repeat;
}

.mob{
	display: none;
}

/*LOGIN DIOGO */
.login{	
	margin-top: 100px;
}
.login_btn{
	margin: 4px;	
}
/*PESQUISA DIOGO */
.btn_search{
	background-repeat: no-repeat;
	background-image: url(../img/btn_search.png);
	border: 0px;
	width: 20px !important;
	height: 20px !important;
	margin-right: 0px;
	margin-top: 50px !important;
	background-color: transparent !important;
}
#search input{
	color: none;
	width: 30px;
	margin-left: 40px !important;
	margin-top: 50px !important;
	background-color: transparent !important;
}
#search input[type="text"] {
	
	text-align: center;
	margin-left: 40px !important;
	background-color: transparent !important;
	margin-left: 0px !important;
	color: white;
    border: 1px dotted #FFA300;
    height: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
    width: 95px;
    padding: 6px 6px 6px 6px;
    -webkit-transition: all 0.5s ease 0.1s;
    -moz-transition: all 0.5s ease 0.1s;
    -o-transition: all 0.5s ease 0.1s;
    transition: all 0.5s ease 0.1s;
    }
#search input[type="text"]:focus {
    width: 95px;
    border-color: rgba(255, 163, 0, 0.8);
    outline: 0;
    outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 163, 0, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 163, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 163, 0, 0.6);
    }
    
#lupa{
	padding-left: 30px !important;
	background-color: transparent !important;
}    
/*PESQUISA DIOGO */

/* VALIDAÇÔES JQUERY  Diogo e Hugo*/

#backleft_2 li{
	list-style: none;
	padding: 0px !important;
	position: absolute;
	font-size: 10px !important;
	}
.field li label{
	color: red !important;
	font-size: 10px;
}
#backleft_2{
	margin-top: 50px;
}
#backleft_2 div{
	padding-bottom: 10px;
}
#dados_facturacao {}
#dados_facturacao h2{ font-size:15px; font-weight:normal;}
#termoscond{
	text-align:right;
}

#termoscond a, .lightbox{
	text-decoration: none;
	color: #ffffff;
}

#termoscond a:hover{
	background-color: transparent !important;
	color: #ff6600;
}

/* BAckOFFICE validator*/

#event{
	list-style: none;
	margin-top: 0px;
}
#new_reservation li{
	list-style: none;
}

#new_place li{
	list-style: none;
}


.larg{width: 100%;margin-bottom: 30px;}
.larg h2, .larg h5{width: 100%;}
.larg h5{margin-bottom: 20px !important;}

/* BACKOFFICE */

.statistic{
	width: 100px;
	margin-left: 20px;
}

.list_orange{
	background-color:#FFA300 !important;
	text-align: center;
}

.no_bg{
	background-color: white !important;
}

.header_bo{
	font-family: Verdana;
	font-style: normal;
	font-weight: 100;
	width: 100%;
	height: 50px;
	background-image: url(../img/header_bo_bg.jpg);
	background-repeat:repeat-x;}

.header_bo_h1{
	color: white !important;
	text-decoration: none;
}

.header_bo_h1:hover{
	color: #FFA300 !important;
	text-decoration: none;
	background-color: transparent;
}

.header_bo h1{
	font-size: 16px;
	float: left;
	margin-top: 25px;
	margin-right: 0px;
	margin-left: 40px;
	line-height: 0px;
	background-color: blue;
}

.header_bo h2{
	font-size: 12px;
	color: white;
	float: left;
	margin-top: 27px;	
	margin-right: 10px;
	margin-left: 5px;
	line-height: 0px;
	background-color: blue;
}

.header_bo ul{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	display: block;
	display: block;
}


.header_bo ul li{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	line-height: 50px;
}

.header_bo ul li a{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	color: white;
	text-decoration: none;
}

.header_bo ul li a:hover{
	color: #FFA300;
	background-color: transparent;
}

.header_bo_bg_2{
	background-color: #e1e1e1;
	width: 100%;
	height: 80px;
	margin-bottom: 50px;
	border-bottom: 1px solid silver;	
}

.header_bo_bg_2 h1{
	background-color: red;
	line-height: 0px;
	margin-top: 40px;		
	margin-left: 40px;
	float: left;
	font-size: 30px;	
}

.search_box{
	height: 150px;
	width: 100%;
	margin-top: -60px;
	
}

.table_bo{
	margin-left: 40px;
	clear: left;
	border-spacing:0;
	border-collapse:collapse !important;    
	background-color: #e1e1e1;
}

.table_bo tr:nth-child(even) {
    background-color: white;
}

.table_title{
	width: 100%;
	height: auto;
/*
	background-image: url(../img/header_bo_bg.jpg);
	background-repeat:repeat-x;
*/
background: rgb(137,137,137); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(137,137,137,1) 0%, rgba(73,73,73,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,137,137,1)), color-stop(100%,rgba(73,73,73,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(137,137,137,1) 0%,rgba(73,73,73,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(137,137,137,1) 0%,rgba(73,73,73,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(137,137,137,1) 0%,rgba(73,73,73,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(137,137,137,1) 0%,rgba(73,73,73,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898989', endColorstr='#494949',GradientType=0 ); /* IE6-9 */

	color: white;
}

.table_title th{
	font-family: Verdana;
	font-style: normal;
	font-weight: 100;
	font-size: 12px;
	padding: 10px;
	margin: 0;
	padding-left: 0px !important;
	padding-right: 0px !important;
	min-height: 10px;
	max-height: 90px;
}

.table_title a{
	font-family: Verdana;
	font-style: normal;
	font-weight: 100;
	font-size: 12px;
	text-decoration: none;
	color: white;
}

.table_item{
	width: auto;
	height: auto;
}

.table_item td{
	font-family: Verdana;
	font-style: normal;
	font-weight: 800;
	font-size: 9px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 20px;
	max-width: 180px;
	height: 40px !important;
	text-align: center;
	line-height: 40px;
	border-bottom: 1px solid silver;
}

.btn_sed{
	color: rgba(0,0,0,0) !important;
	text-decoration: none !important;
	padding: 0 !important;
}

.table_item a{
	background-color: transparent;
	text-decoration: none !important;
	padding: 10px 18px 10px 17px;
}

.table_item a:hover{
	background-color: transparent;
	text-decoration: none !important;
	border:0 !important;
	height: 40px !important;
	width: 40px !important;
	padding: 10px 18px 10px 17px;
}

.show_list a{
	background-color: transparent;
}

.show_list{
	margin-left: 5px;
}

.show_item{
	margin: 40px 0 30px 40px;
}

.field input,.field select,.field textarea,.field text{
	margin-top: 0px;
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 0px;
	font-size: 12px;
	line-height: 10px;
	color: #555555;
	vertical-align: middle;
    border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    
/* BORDER */	
  background-color: #ffffff;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	
/* TRANSITION */
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

.field input:focus,
.field select:focus,
.field textarea:focus,
.field text:focus{
  border-color: rgba(255, 163, 0, 0.8);
  outline: 0;
  outline: thin dotted \9;
  
  
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 163, 0, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 163, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 163, 0, 0.6);
}

.field select{
	height: 30px;
}

.select_fixed select{
	width: 200px;
}

.field label{
	height: 10px;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
}

.field_text{
	font-family: Verdana;
	font-style: normal;
	font-weight: 100;
	font-size: 10px;
	color: #555555;
	padding: 4px 6px;
}

.actions input{
	background-image: url(../img/upgrade_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 105px;
	height: 37px;
	background-color: transparent !important;
	border: 0 !important;
	color: rgba(0,0,0,0) !important;
	margin-top: 10px;
	margin-bottom: 20px;
}

.actions input:hover{
	background-image: url(../img/upgrade_bg_hover.png);
}

#notice{
	margin-left: 40px !important;
}

/* BOTOES */

.btn_show, .btn_edit, .btn_destroy, .btn_show:hover, .btn_edit:hover, .btn_destroy:hover{
	background-repeat: no-repeat;
	background-position: center;
}

.btn_add, .btn_show_bg, .btn_edit_bg, .btn_destroy_bg, .btn_back_bg, .btn_add:hover, .btn_show_bg:hover, .btn_edit_bg:hover, .btn_destroy_bg:hover, .btn_back_bg:hover{
	background-repeat: no-repeat;
	background-position: center;
	padding:10px 53px 10px 53px;
	margin-left:35px;
}

.btn_show{
	background-image: url(../img/show.png);
}

.btn_edit{
	background-image: url(../img/edit.png);
}

.btn_destroy{
	background-image: url(../img/destroy.png);
}

.btn_show_bg{
	background-image: url(../img/show_bg.png);
}

.btn_edit_bg{
	background-image: url(../img/edit_bg.png);
}

.btn_destroy_bg{
	background-image: url(../img/destroy_bg.png);
}

.btn_show:hover{
	background-image: url(../img/show_hover.png);
}

.btn_edit:hover{
	background-image: url(../img/edit_hover.png);
}

.btn_destroy:hover{
	background-image: url(../img/destroy_hover.png);
}

.btn_show_bg:hover{
	background-image: url(../img/show_bg_hover.png);
}

.btn_edit_bg:hover{
	background-image: url(../img/edit_bg_hover.png);
}

.btn_destroy_bg:hover{
	background-image: url(../img/destroy_bg_hover.png);
}


/* BOTOES BARRA NAV */

.btn_back_bg{
	background-image: url(../img/back_bg.png);
}

.btn_add{
	background-image: url(../img/add_bg.png);
}

.btn_back_bg:hover{
	background-image: url(../img/back_bg_hover.png);
	text-decoration: none;
	background-color: transparent;
	padding-left: 0px;	
}

.btn_add:hover{
	background-image: url(../img/add_bg_hover.png);
	text-decoration: none;
	background-color: transparent;
	padding-left: 0px;	

}

.btn_add, .btn_back_bg{
	float: right;
	line-height: 30px;
	padding-left: 0px;
	margin-top: 12px;
	margin-right: 0px;
	background-repeat: no-repeat;
	width: 115px;
	height: 35px;
	color: white !important;
	text-decoration: none;
}


.search_bo{
	margin-left: 40px;
}

.btn_search{
	margin-left: 10px;
	margin-bottom: 10px;
	height: 30px;
	width: 150px;
	border-radius: 5px 5px 5px 5px;
	background-color: #e1e1e1;
}

.footer_bo{
	background-color: black;
	height: 35px;
	width: 100%;
	opacity: .5;
	position: absolute;
	bottom: 0;
}



/*

form edit

*/v

.border_bo{
	display: none;
}

.bo_bg_table{
	background-color: #f4f4f4;
	padding: 20px;
	margin-top: 40px;
	min-height: 100px;
	max-height: 1500px;
	margin-right: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: inset 0 1px 4px #dddddd;
    -moz-box-shadow: inset 0 1px 4px #dddddd;
    -webkit-box-shadow: inset 0 1px 4px #dddddd;
}

.bo_bg_table_1{
	height: 750px;
}

.bo_bg_table_2{
	background-color: #f4f4f4;
	padding: 20px 20px 20px 0;
	margin-top: 40px;
	margin-left: 40px;
	min-height: 100px;
	max-height: 1500px;
	margin-right: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: inset 0 1px 4px #dddddd;
    -moz-box-shadow: inset 0 1px 4px #dddddd;
    -webkit-box-shadow: inset 0 1px 4px #dddddd;
}

.bo_show_title{
	font-size: 13px;
	color: #3c3c3c;
	font-weight: 100;
	margin-bottom: -40px !important;
}

.bo_bg_table_2 p {
	font-size: 18px;
	color: #3c3c3c;
	font-weight: 100;
}

.important_1{
	height: 100px !important;
}

.event_form input{
	width: 350px;
	margin-bottom: 10px;
}

.event_form_x2{
	margin-top: 0px;
}

.event_form_x2 input{
	width: 160px;
	margin-bottom: 10px;
}

.event_form select{
	margin-bottom: 10px;
}

.event_form_x{
	width: 165px;
	float: left;
	margin-bottom: 10px;
	margin-right: 20px;
}

.event_form_x select{
	width: 165px;
}

.event_form_x1{
	width: auto;
	height: 60px;
	margin-bottom: 10px;
}

.event_form_x1 label, .event_form_x1 input{
	width: 165px;
	margin-bottom: 10px;
}

.event_form_1{
	width: 60px !important;
	float: left;
	margin-right: 65px;
	
}

.event_form_1 label{
	padding: 0;
}

.event_form_1 input{
	width: 70px;
	margin-bottom: 10px;
	
}

.event_form_2 {
}

.event_form_2 label{
	padding: 0;
}

.event_form_2 input{
	width: 100px;
	margin-bottom: 10px;
	
}


.bus_form{
	width: 350px;
	margin-top: 80px;
	margin-left: 40px;
}


.bus_form input{
	width: 50px;
	float: left;
	margin-left: -40px;
	margin-top: 0px;	
}

.bus_form_1 input{
	width: 65px;
	float: left;
	margin-left: 5px;
	margin-top: -28px;
}

.bus_form_2 input{
	width: 65px;
	float: left;
	margin-left: 153px;
	margin-top: -56px;
}



.bus_form_bt input{
	background-image: url(../img/update.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 37px;
	height: 37px;
	background-color: transparent !important;
	border: 0 !important;
	color: rgba(0,0,0,0) !important;
	float: left;
	margin-top: -70px;
	margin-left: 275px;
}

.bus_form_bt input:hover{
	background-image: url(../img/update_hover.png);
}

.price_form_box{
	margin-top: -30px;
	width: auto;
	float: left;
}

.price_form select{
	width: 70px;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}

.price_form_1 input{
	width: 50px;
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}

.price_form_1 textarea{
	min-width: 70px;
	max-width: 70px;
	min-height: 21px;
	max-height: 21px;
	float: left;
	margin-left: 180px;
	margin-top: -47px;
}

.price_form_1 select{
	width: 40px;
	margin-top: 0px;
	font-size: 8px;
	margin-bottom: 5px;
	
}

.price_form_date{
	width: 50px;
	margin-left: 20px;
	margin-top: -10px;
	float: left;
}

.price_form_date_1{
	float: left;
	width: 50px;
	margin-left: 40px;
	margin-top: -10px;
}


.price_form_bt input{
	background-image: url(../img/update.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 37px;
	height: 37px;
	background-color: transparent !important;
	border: 0 !important;
	color: rgba(0,0,0,0) !important;
	float: left;
	margin-top: 0;
	margin-left: 20px;
}

.price_form_bt input:hover{
	background-image: url(../img/update_hover.png);
}


.discount_form_box{
	margin-top: -30px;
}

.discount_form input{
	width: 50px;
	float: left;
	margin-left: 105px;
	margin-top: 10px;	
}

.discount_form_1 input{
	width: 50px;
	float: left;
	margin-left: 5px;
	margin-top: -18px;	
}

.discount_form_bt input{
	background-image: url(../img/update.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 37px;
	height: 37px;
	background-color: transparent !important;
	border: 0 !important;
	color: rgba(0,0,0,0) !important;
	float: left;
	margin-top: -33px;
	margin-left: 3px;
}

.discount_form_bt input:hover{
	background-image: url(../img/update_hover.png);
}

/* 
Carrousel
*/
#carrousel{
	width:1164px; 
	padding-right: 9px;
	background: rgba(255,255,255,0) !important;
}

#anterior{
	background-repeat: no-repeat;
	opacity: 0.4;
	background-color: transparent;
	border:0;
	height: 33px;
	width: 40px;
	background-image:url(../img/right_dto_black.png);
	cursor:pointer;
	position: absolute;
	left: 10px;
}

#anterior:hover, #proximo:hover {opacity: .5;}

#proximo{
	opacity: 0.4;
	background-color: transparent;
	background-repeat: no-repeat;
	height: 33px;
	width: 40px;
	position: absolute;
	right: 0px;
	border: 0;
	background-image:url(../img/right_esq_black.png);
	cursor:pointer;
}

.bt_nav{
	width: 100%;
	position: absolute;
	height: 130px;
	margin-top: 200px;
	z-index: 100px;
}

#termoleft ul li h4, #termoscon h4{
	 font-family: 'Source Sans Pro',sans-serif;
}



/* macbook 13 */

@media screen and (min-width: 1120px) and (max-width: 1280px) {

.logo{
	background-size: 220px;
	margin-top: 15px;
}

.logo h4{
	margin-top: 48px;
	margin-left: 64px;
	font-size: 14px;
}

#nav_ctr{
	width: 1054px;
}

#nav ul{

	height: 94px;
	float: right;
}
#nav ul li a{
	float: left;
	padding-top: 50px;
	padding-bottom: 5px;
	text-align: center;
	opacity: .9;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	color: white;
	font-style: normal;
}

/*PESQUISA*/
.btn_search{
	margin-top: 50px !important;
	background-color: transparent !important;
}
#search input{
	margin-left: 40px !important;
	margin-top: 45px !important;
}
    
#lupa{
	margin-top: 0px !important;
}    
/*PESQUISA*/

#evento_in{
	width: 1054px;
}


.viewport{
	height: 515px !important;
	width: 199px !important;
	margin-left: 9px;
	margin-top: 42px;
}

.evento_descricao h1 {
	line-height: 24px;
}

.date{
	bottom: 220px;
}

.evento_descricao{
	top: 351px;
}

.info{
	left: 165px;
}

/* Evento */


#backticket, #backticket_1{
/* 	width: 1054px; */
	width:960px;
	height: 385px;
	
}

#backleft, #backleft_1{
	height: 458px;
/* 	width: 687px; */
	width: 640px;
}

#backright, #backright_1{
	height: 458px;
/* 	width: 385px; */
	width: 330px;
}

#ticket_descricao_1{
	font-size: 13px;
	width: 300px;
	margin-left: 40px;	
}

.reserv{margin-left: 150px;margin-top: 20px;}

#termoscon{
	width: 960px;
}

.map_iframe{
	width: 525px;
	height: 339px;
}

#termoleft{
	width: 525px;
}

/* Events*/

.date h3 {
    font-size: 30px;
}

.date h4 {
    line-height: 32px;
}

.evento_descricao {
    width: 199px;
}

.content_title {
    width: 180px;
}

.evento_descricao h1 {
    font-size: 25px;
}

.evento_descricao h2 {
    font-size: 16px;
}

.evento_descricao h3 {
    line-height: 6px;
}

.evento_descricao h4 {
    line-height: 15px;
}


#termoscon {
    padding-top: 26px;
}

#termoleft ul li h4, #termoscon h4{
	 font-family: 'Source Sans Pro',sans-serif;
}

/* FOOTER */


#bottom_bar{
	width: 1054px;
}

.trinity{
	margin-top: 4px !important;
}


}




/* ipad */

@media screen and (min-width: 760px) and (max-width: 1119px) {

.optimusalive{
	width: 560px !important;
	height: 575px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.formulario{
	width: 425px;
	height: 700px;
	margin-left: 160px;
	margin-top: 100px;
}

.map_iframe{
	width: 693px !important;
	height: 339px;
}

.logo{
	margin-top: 10px;
	width: 260px;
	background-size: 180px;
}

.logo h4{
	margin-top: 33px;
	margin-left: 50px;
	font-size: 11px;
}

#nav_ctr{
	width: 710px;
}

#nav ul{
	width: 340px !important;
	height: 94px;
	float: right;
}

#nav ul li a{
	font-size: 13px;
	width: 66px;
	padding-top: 43px;
}

#search input {
    margin-left: 40px !important;
    margin-top: 41px !important;
    width: 65px;
}


#evento_in{
	width: 710px;
}

.viewport{
	height: 475px !important;
	width: 130px !important;
}

.date{
	bottom: 200px;
}

.date h3{
	font-size: 18px;
	line-height: 20px;
}

.date h4{
	font-size: 11px;
	line-height: 26px;
}

.evento_descricao{
	top: 311px;
}

.info{
	display: none;
}

.evento_descricao h1{
	font-size: 18px;
    line-height: 20px;
    width: 109px;
}

.evento_descricao h2{
	font-size: 14px;
	width: 110px;
}

.evento_descricao h3{
	font-size: 30px;
}

.evento_descricao h4{
	font-size: 23px;
	line-height: 15px;
}


/*PESQUISA DIOGO */
.btn_search{
	margin-top: 45px !important;
	margin-left: 5px;
	background-color: transparent !important;
}
#search input{
	margin-left: 40px !important;
	margin-top: 39px !important;
	width: 65px;
}

#search input[type="text"] {
	width: 65px;
}

#search input:hover{
	width: 65px;
}
    
#lupa{
	margin-top: 0px !important;
}    

/* Evento */


#backticket, #backticket_1{
	width: 960px;
	height: 385px;
}

#backleft, #backleft_1{
	height: 458px;
	width: 600px;
/*
	background-image: url('../img/corte_evento_1.png');
	background-position: right;	
*/
}

#ticket_local, #ticket_artista{
	width: 320px;
}


#ticket_locais{
	margin: 10px 0 0px 20px;
}


#ticket_descricao{
	width: 380px;
	margin-left: 20px;
	margin-top: 20px;
}

.field label {
    font-size: 12px;
    padding: 4px 0px;
}

.ticket_h4{
	font-size: 18px;
}

.ticket_h5{
	font-size: 15px;
}

.ticket_h2{
	font-size: 30px;
	margin: 20px 0 !important;
}

#widthh2 {width: 300px;}

#backright, #backright_1{
		height: 458px;
		width: 385px;
}

#ticket_descricao_1{
	font-size: 13px;
	width: 320px;
	margin-left: 50px;
	margin-top: 20px;
}

.field input, .field select, .field textarea, .field text{
	width: 130px;
}

.check{
	width: 40px !important;
}

#termoscond{
	width: 130px;
}

#ticket_data h1{
	margin: 0;
	font-size: 27px;
}

#ticket_artista h2, #ticket_data h2, #ticket_price h2, #form h5 {
    font-size: 30px;
}

#ticket_data h4, #ticket_local h4 {
    font-size: 19px;
}

#ticket_reserva {
    margin-right: -10px;
}

#backleft_2 {
    margin-top: 10px;
    margin-left: -10px;
    height: 400px;
}

#backleft_2 div{
/* 	margin-bottom: 20px; */
	width: 265px;
}

.reserv{
	margin-left: 190px;
	margin-top: 70px;
}

.regress{
	margin-left:-1px;
}

#regresso{margin-left: 55px;}

#termoscon{
	width: 80%;
}

.map_iframe{
	width: 525px;
	height: 339px;
}

#termoleft{
	width: 705px;
}

#termoright{
	width: 705px;
}

#termoleft h4{
	font-size: 13px !important;
}

#termoright h4{
	font-size: 14px !important;
}

#termoscon h4{
	font-size: 13px !important;
}

#termoscon h1{
	font-size: 30px !important;
	margin: 34px 0 20px;	
}

#termoscon p{
	font-size: 48px !important;
}

.backleft_right{
	margin-left: 240px;
}

.field label {
    padding: 0;
}

.portefolio_pessoas{
	float:left;font-size: 25px;font-weight: 600;line-height: 19px; color:#FFA300; font-family: "Source Sans Pro",sans-serif; 
}

.hour{
	font-size: 15px !important;
}

.ext{
	margin-bottom: 70px;
}

.regress{
	margin-left:0px;
}

.partida_event, .hour_event{
	margin-left: 2px !important;
}

#partida{
	margin-top: -10px;
	margin-bottom: 10px;
	
}

#reservation_datein{
	margin-bottom: -10px !important;
}

/* FOOTER */

#bottom_bar{
	width: 710px;
}

.trinity{
	margin-top: 4px !important;
}


}


/* LightBOX distrito*/

.backdrop
		{
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height: 100%;
			background:#000;
			opacity: .0;
			filter:alpha(opacity=0);
			z-index:50;
			display:none;
		}
 
 
		.box
		{
			position:absolute;
			top: 10%;
			left:35%;
			width:340px;
			height:530px;
			background:#ffffff;
			z-index:51;
			padding:10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow:0px 0px 5px #444444;
			-webkit-box-shadow:0px 0px 5px #444444;
			box-shadow:0px 0px 5px #444444;
			display:none;
		}
 
		.close
		{
			float:right;
			margin-right:6px;
			cursor:pointer;
		}
		/* LightBOX  Info */
		.backdrop2
		{
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			background:#000;
			opacity: .5;
			filter:alpha(opacity=0);
			z-index:50;
		}
 
 
		.box2
		{
			position:absolute;
			top:20%;
			left:30%;
			width:500px;
			height:200px;
			background:#ffffff;
			z-index:51;
			padding:20px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow:0px 0px 5px #444444;
			-webkit-box-shadow:0px 0px 5px #444444;
			box-shadow:0px 0px 5px #444444;
		}
 
		.close2
		{
			margin-right:6px;
			cursor:pointer;
			color: #FFA300;
		}
		
		.lightinfo{
				font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 18px;
		}
		.lightinfo li{
		margin-top: 10px;
		}
		
.search_reserv{
	height: 85px;
	width: 1000px;
}
		
		
.search_reserv li{
	margin-top: 40px;
	float: left;
	margin-right: 10px;
}

.search_reserv li a{
	text-decoration: none;
	color: #212121;
	background: rgb(137,137,137); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(137,137,137,1) 0%, rgba(73,73,73,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,137,137,1)), color-stop(100%,rgba(73,73,73,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(137,137,137,1) 0%,rgba(73,73,73,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(137,137,137,1) 0%,rgba(73,73,73,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(137,137,137,1) 0%,rgba(73,73,73,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(137,137,137,1) 0%,rgba(73,73,73,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898989', endColorstr='#494949',GradientType=0 ); /* IE6-9 */
;
	padding: 4px;
	margin-top: 10px;
	border-radius: 4px;
	color: white;
	font-size: 12px;
	font-weight: 100;
}

/* update reservation */
.update_reservation {padding:20px; color:#FFF;}
.update_reservation .row {position:relative; float:left; width:100%; margin-bottom:5px;}
.update_reservation .row .field { width:75%; margin-right:5%; position:relative; float:left;}
.update_reservation .row .field input { width:100%;}
.update_reservation .row .field_button { width:20%; position:relative; float:left;}
.update_reservation .row .field_button a { color:#FFF;}