/* BASE */

* { margin: 0px; padding: 0px; }
body { background-color: #33393c; font: normal 0.75em/145% Arial, Tahoma, sans-serif; color: #33393c; text-align: left; }
p { margin: 0px 0px 10px 0px; line-height: 140%; color: #33393c; }
a { outline: none; text-decoration: underline; }
a:hover { text-decoration: none; }
.hide { display: none; }
img { border: 0px; }
body #page-container { width:990px; margin:0 auto; }
/* CLEARING METHOD */
.clr {clear:both;}

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
/* BRANDING */
#branding { padding:0px;}
#branding h1 {font-family:Arial, Helvetica, sans-serif; color: #fff; margin: 0px; padding: 20px 0px 20px 30px; }
/* PAGE-LEFT */
#page-left { float:left; width:200px; }

/* USER-INFO */
#user-info { padding:10px; background:#5C6365; border-bottom:solid 1px #FFF; text-align:right !important;}
#user-info p { color:#FFF !important; }
#user-info a { color:#FF6600 !important; font-size:14px; font-weight:bold; }

/* PAGE-NAVIGATION */
#page-navigation { background-color: #4a5154; padding:10px 15px; float:left; width:170px; }
#page-navigation ul { margin: 0px; padding: 0px; list-style: none; }
#page-navigation ul li { margin: 0px 10px 0px 0px; }
#page-navigation ul li a { font-family:Arial; font-weight:bold; font-size:12px; color:#fff; text-decoration:none; text-transform:uppercase; display:block; padding:4px 10px 4px 10px; }
#page-navigation ul li a:hover { color: #ff6600; }
#page-navigation ul li.current a { background-color: #ff6600; color: #fff; }
/* PAGE-CONTENT */

#page-content { background-color: #e6e6d2; padding:15px; width:760px; float:left; }
#page-content h1 { font: bold italic 2.0em Georgia, "Times New Roman", Times, serif; color:#33393c; margin:0px 0px 10px 0px; padding:0px 0px 1px 0px; border-bottom:1px solid #33393c;}
#page-content h2 { background-color: #33393c; font: bold 1.2em Arial, Tahoma, sans-serif; color: #fff; margin: 0px; padding: 12px 0px 12px 15px; }
#page-content h2 span { color: #6da9d2; }
#page-content h3 { font: bold 1.0em Arial, Tahoma, sans-serif; color: #33393c; margin: 0px; padding: 8px 0px 8px 15px; border-bottom: 1px solid #33393c; }
#page-content h3 a { font: bold 1.0em Arial, Tahoma, sans-serif; color: #0099ff; text-decoration: none; }
#page-content .inner-box { background-color: #fff; padding: 15px; }
#page-content .margin-top { margin-top: 10px; }
/* FORMS */

#page-content label { font: bold 1.2em Arial, Tahoma, sans-serif; color: #33393c; margin: 0px 0px 5px 0px; display: block; }
#page-content input,
#page-content textarea { font: normal 1.5em Arial, Tahoma, sans-serif; color: #454545; margin: 0px 0px 15px 0px; padding: 5px; display: block; border: 1px solid #cccccc; width: 98%; }
#page-content textarea { font: normal 1.2em Arial, Tahoma, sans-serif; }
#page-content input:focus,
#page-content textarea:focus { border: 1px solid #454545; }
#page-content input.submit { background-color: #0099ff; display: block; float: left; width: 140px; margin: 0px 10px 20px 0px; padding: 6px 0px 6px 0px; font: bold 1.1em Arial, Tahoma, sans-serif; color: #fff; text-transform: uppercase; border: 1px solid #fff; }
#page-content input.reset { background-color: #33393c; }
#page-content input.submit:hover { background-color: #ff6600; }
#page-content .short { width: 35%; }
#page-content .medium { width: 60%; }
/* ALERTS */

#page-content .success {font:bold 1.1em Arial, Tahoma, sans-serif; color:#249901; padding:10px 15px 10px 15px; margin:5px 0px 5px 0px; border:1px solid #84cd6e; background-color:#dff2d9;}
#page-content .error {font: bold 1.1em Arial, Tahoma, sans-serif; color:#f03a31; padding:10px 15px 10px 15px; margin:5px 0px 5px 0px; border:1px solid #f03a31; background-color:#fad3c5;}
/* FORM-BLOCK */

#form-block { position: relative; margin-right: 270px; }
#form-block em { color: #5c6163; display: block; margin: -12px 0px 12px 0px; }
/* TABLE-BLOCK ORIGINAL 
#table-block { position: relative; margin-right: 245px; }
#table-block table { width: 99%; position: relative; }
#table-block table tr td { padding: 5px 6px 5px 6px; border-bottom: 1px solid #cdcdcd; }
#table-block table tr.header td { font-size:12px; font-weight:bold; color: #fff; padding: 7px 6px 7px 6px; background-color: #4a5154; }
#table-block table tr.alternate { background-color: #f5f5ed; }
#table-block table td.true { color: #009933; }
#table-block table td.false { color: #990000; }
#table-block table td.actions { color: #ccc; }
#table-block table tr:hover { background-color: #ffffd4; }
#table-block table td.actions a { font: bold 0.9em Arial, Tahoma, sans-serif; color: #0099ff; text-decoration: none; padding: 0px 2px 0px 2px; text-transform: uppercase; }
#table-block table td.actions a.delete { color: #999; }
#table-block table td.actions a:hover { color: #ff6600; }*/

/* TABLE-BLOCK */
#table-block { position: relative; margin-right: 180px; width:540px;}
#table-block table { width: 99%; position: relative; }
#table-block table thead th { font-size:12px; font-weight:bold; color: #fff; padding: 7px 6px 7px 6px; background-color: #4a5154; }
#table-block table tr td { padding: 5px 6px 5px 6px; border-bottom: 1px solid #cdcdcd; }
#table-block table tr.alternate { background-color: #f5f5ed; }
#table-block table td.true { color: #009933; }
#table-block table td.false { color: #990000; }
#table-block table td.actions { color: #ccc; }
#table-block table tr:hover { background-color: #ffffd4; }
#table-block table td.actions a { font-family:Arial; font-size:0.8em; font-weight:bold; color: #0099ff; text-decoration: none; padding: 0px 2px 0px 2px; text-transform: uppercase; }
#table-block table td.actions a.delete { color: #999; }
#table-block table td.actions a:hover { color: #ff6600; }
/* SIDEBAR */
#sidebar { position: relative; width: 180px; float: right; }
#sidebar ul { margin: 0px; padding: 0px 0px 40px 0px; list-style: none; border-left: 1px solid #cdcdcd; }
#sidebar ul li.head { font: bold 1.4em Arial, Tahoma, sans-serif; color: #0099ff; text-transform: uppercase; padding: 15px 0px 15px 15px; }
#sidebar ul li { border-bottom: 1px solid #cdcdcd; }
#sidebar ul li a { background-color: #f2f2e8; display: block; font: normal 1.2em Arial, Tahoma, sans-serif; color: #33393c; text-decoration: none; padding: 8px 10px 8px 15px; height: 1%; }
#sidebar ul li a:hover { background-color: #e6e6d2; }
#sidebar ul li.current a { background-color: #fff; font: bold 1.2em Arial, Tahoma, sans-serif; color: #33393c; text-decoration: none; padding: 8px 10px 8px 16px; margin-left: -1px; }

/* SIDEBAR PRODUTOS */
#sidebar_prod { width: 180px; float: right; margin-top:15px; }

/* NAVEGACAO LATERAL*/
#nav_lateral { font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:10px; background:#E6E6D2; }
#nav_lateral ul { margin:0; padding:0; list-style:none; border:none; }
#nav_lateral ul li { border:none !important; }
#nav_lateral li { margin:0 !important; padding:3px !important; list-style:none; border:none !important; }
#nav_lateral li a { margin:3px !important; padding:3px !important; text-decoration:none; color:#35527F; border:none !important; }
#nav_lateral li a:hover { text-decoration:none; color:#FF6600; }
#nav_lateral .demo6 {  background:#E6E6D2; padding-left: 5px; cursor:pointer; }
#nav_lateral ul#nav p { color:#35527F; line-height:24px; border-bottom:1px solid #fff; font-size:14px; }
#nav_lateral ul#nav p:hover { color:#FF6600; }
#nav_lateral .panel { padding: 10px; background:#fff; }
#nav_lateral li:last-child { padding-bottom:0; }

/* PAGE-FOOTER */
#page-footer { text-align: center; padding: 15px; clear:both; }
#page-footer p { font: normal 0.9em/150% Arial, Tahoma, sans-serif; color: #fff; }
#page-footer strong { color: #69a2c8; }
#page-footer a { color: #fff; }

/* CAIXA DE MENSAGENS */
.box_msg { margin: 0 0 2px 0 ; padding:10px 10px 10px 50px; background-repeat: no-repeat; background-position: 10px center; display:block; width:730px; float:left; }
.box_msg.info { color: #00529B; background-color: #BDE5F8; background-image: url(../../sis_images/icons/info.png); }
.box_msg.success { color: #4F8A10; background-color: #DFF2BF; background-image:url(../../sis_images/icons/success.png); }
.box_msg.warning { color: #9F6000; background-color: #FEEFB3; background-image: url(../../sis_images/icons/warning.png); }
.box_msg.error { color: #D8000C; background-color: #FBE3E4!important; background-image: url(../../sis_images/icons/error.png); }

/* BREADCRUMBS */
#breadcrumb { margin-bottom:15px; height:30px; }
#breadcrumb .bg { background:url(../../sis_images/breadcrumbs/breadcru.png) repeat-x; height:30px; line-height:30px; color:#9b9b9b; overflow:hidden; float:left; width:530px; }
#breadcrumb .bg li { list-style-type:none; float:left; padding-left:10px; }
#breadcrumb .bg a { height:30px; display:block; background-image:url(../../sis_images/breadcrumbs/right-ch.png); background-repeat:no-repeat; background-position:right; padding-right: 15px; text-decoration: none; color:#000; }
#breadcrumb .bg .home { border:none; margin: 8px 0px; }
#breadcrumb .bg a:hover { color:#35acc5; }
#breadcrumb .breadcrumbright { float:left; width:4px; height:30px; background: url(../../sis_images/breadcrumbs/breadcru_right.png) 0 50% no-repeat; }
#breadcrumb .breadcrumbleft { float:left; width:4px; height:30px; background: url(../../sis_images/breadcrumbs/breadcru_left.png) 0 50% no-repeat; }
.barra_bottom_navigation { margin-top:20px; }
.barra_bottom_navigation .back { float:left; width:50%; text-align:left; height:25px; }
.barra_bottom_navigation .next { float:left; width:50%; text-align:right; height:25px; }

/* LISTAGEM DE PRODUTOS */
.produtos_listar { width:200px; float:left; margin:20px; height:210px; }
.produtos_listar a { text-decoration:none; }
.produtos_listar_img { text-align:center; padding:1px; margin:0 0 5px 0; border:1px solid #CCC; overflow:hidden; }
.produtos_listar_nome { float:left; width:125px; }
.produtos_listar_preco { float:right; text-align:right; }
span.laranja { color:#FF6600; }
.produtos_listar_nome span.azul { color:#3C8AA1; font-size:14px;}
.descricao_pequena { float:left; clear:both;}
.produto_anexo { float:left; clear:both; }
.produto_operacoes { float:left; clear:both; margin-top:10px; }
.editar { font-family:Arial; font-weight:bold; font-size:12px; color:#fff; text-decoration:none; text-transform:uppercase; padding:4px 10px 4px 10px; background:#FF6600; }
.apagar { margin-left:20px; font-family:Arial; font-weight:bold; font-size:12px; color:#fff; text-decoration:none; text-transform:uppercase; padding:4px 10px 4px 10px; background:#F10; }

.categoria { width:204px; float:left; margin:20px; height:150px; text-align:center; }
.categoria_img { padding:1px; border:1px solid #CCC; margin:auto; }
.categoria_img a { text-decoration:none; border:none; }
.categoria_nome { text-align:center; font-size:18px; color:#3C8AA1; }

.radio_btn { margin:10px !important; text-align:left !important; width:15px !important; padding:0 !important; border:none !important; display:inline !important; }

/* Noticias */
.noticia_img_admin img { max-height:50px; max-width:150px;}

/* CSS Document */
#pagination { text-align:center; padding-top:10px; font-size:15px;}
#pagination strong {padding: 2px 6px; border:1px solid #EEEEEE;}
#pagination a {padding: 2px 6px; border:1px solid #EEEEEE;}
#pagination a:hover {padding: 2px 6px; border:1px solid #31798E; background:#31798E; color:#FFF;}

/* MULTIPLE UPLOAD */
#swfupload-control { margin:10px; }
#swfupload-control p{ margin:10px 0; font-size:14px; }
#log{ margin:0; padding:0; width:500px;}
#log li{ list-style-position:inside; margin:2px; border:1px solid #ccc; padding:10px; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333; background:#fff; position:relative;}
#log li em { display:inline; }
#log li .progressbar{ border:1px solid #333; height:5px; background:#fff; }
#log li .progress{ background:#999; width:0%; height:5px; }
#log li p{ margin:0; line-height:18px; }
#log li.success{ border:1px solid #339933; background:#ccf9b9; }
#log li span.cancel{ position:absolute; top:5px; right:5px; width:20px; height:20px; background:url('js/swfupload/cancel.png') no-repeat; cursor:pointer; }
