/* CSS Document */
.pagination { text-align:center; padding-top:10px; font-size:15px;}
.pagination strong {padding: 2px 6px; border:1px solid #EEEEEE;}
.pagination a {padding: 2px 6px; border:1px solid #EEEEEE; text-decoration:none; color:#31798E; }
.pagination a:hover {padding: 2px 6px; border:1px solid #31798E; background:#31798E; color:#FFF;}
