body {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
}

/* Z-index resets */
/* Bootstrap changes */
#navbar {
    margin-top: 18px;
}

.navbar-fixed-top {
    min-height: 90px;
    border: none;
    background: #fff;
    box-shadow: 0 0 23px rgba(0,0,0,0.2);
}

.navbar-brand > img {
    width: 130px;
}

.navbar-default .navbar-nav > li > a {
    color: #999;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    transition: all 200ms linear;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav > li.active > a {
    color: #fdc719 !important;
	background:transparent !important;
}

.btn-default {
    color: #fff;
    background-color: #fbbe06;
    border-color: #fbbe06;
    border-radius: 0;
    font-size: 18px;
    line-height: 18px;
    transition: all 200ms linear;
}

.btn-default .material-icons {
    vertical-align: sub !important;
}

.form-control {
    border-radius: 0;
    border-color: #999999;
}
.help-block{
	font-weight:300;
	font-size: 13px
}
.has-error .form-control{
	border-color: #a94442 !important;
}
.has-error .form-control:focus {
    border-color: #843534 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #843534  !important;;
}

/* Blur */
body>nav, body>.wrapper, body>footer {
    transition: filter 200ms linear;
}

.blur>nav, .blur>.wrapper, .blur>footer {
    filter: blur(7px);
}

/* Search */
.search-module {
}

.search-module .form-group .input-group {
    border-bottom: 3px solid #fdc719;
    transition: all 200ms linear;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.search-module.active .form-group .input-group input {
    border-color: #fdc719;
}

.search-module.active {
}

.search-module.active .form-group {
}

.search-module input {
    border-right: none;
    box-shadow: none;
}

.search-module input:focus {
    box-shadow: none;
    border-color: #999;
}

.search-module .input-group-addon {
    background: none;
    border-radius: 0;
    border-color: #999;
    padding: 4px 12px;
    background: #fff;
}

.search-module.active .input-group-addon {
    border-color: #fdc719
}

.search-module .input-group-addon i {
    font-size: 22px;
}

.search-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    display: none;
    z-index: 1030;
}

.search-container {
    position: fixed;
    z-index: 1031;
    width: 400px;
    height: 400px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -200px;
    display: none;
}

.search-container .close-search {
    float: right;
    margin-top: -30px;
    color: #fff;
    font-size: 20px;
    transition: all 200ms linear;
}

.search-container .close-search:hover {
    opacity: 0.7;
    cursor: pointer;
}

.search-container h2 {
    color: #fdc719;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

.search-container input {
    padding: 0;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 23px;
    font-weight: 300;
    width: 100%;
}

.search-container .search-placeholder {
    border-bottom: 2px solid #fdc719;
    padding-bottom: 5px;
}

.search-container input:focus {
    outline: 0;
}

.search-results {
}

.search-results a {
    display: block;
    color: #fff;
    padding: 5px 0 8px 10px;
    transition: all 200ms linear;
    background: #000;
    margin-top: 3px;
}

.search-results a:hover {
    background: #fdc719;
    color: #000;
    text-decoration: none;
}

.search-results a:hover span {
    text-decoration: none;
}

.search-results a .title {
    display: block;
    font-size: 19px;
    font-weight: 400;
}

.search-results a .date {
    display: block;
    font-weight: 300;
}

.search-results i {
    float: right;
    margin-top: -45px;
    font-size: 40px;
    margin-right: -2px;
}

/* Slider */
#slides .slidesjs-container, #slides .slidesjs-control {
    height: 670px !important;
}

#slides .inner-wrapper {
    position: absolute;
    width: 1170px;
    margin: auto;
    left: 50%;
    margin-left: -585px;
    bottom: 100px;
}

#slides .inner-wrapper h1 {
    margin-bottom: 20px;
}

#slides .inner-wrapper h1 a {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 50px;
    color: #fff;
}

#slides .inner-wrapper h1 a:hover {
    text-decoration: none;
}

#slides .inner-wrapper .data {
    display: inline-block;
    background: rgba(255,255,255,0.17);
    color: #fff;
    width: 110px;
    text-align: center;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 20px;
}

#slides .inner-wrapper .data i {
    vertical-align: sub;
}

#slides .inner-wrapper .call {
    display: inline-block;
    text-transform: uppercase;
}

#slides img {
    width: 100%;
    display: block;
}

#slides .filter {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQYV2NkQAKMUPZ/BgYGRhgHLAYAEnEBBJU1VYUAAAAASUVORK5CYII=) repeat;
}

.slidesjs-pagination {
    margin-top: -90px;
    position: relative;
    z-index: 10;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.slidesjs-pagination li {
    display: inline-block;
}

.slidesjs-pagination li a {
    font-size: 0;
    display: block;
    width: 17px;
    height: 17px;
    border: 2px solid #fff;
    margin-right: 7px;
    border-radius: 20px;
    transition: all 200ms linear;
}

.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover {
    background: #fff;
}

/* Structure */
.wrapper {
    margin-top: 90px;
}

h1.site-title {
    font-weight: 300;
    color: #999;
    position: relative;
    margin-bottom: 25px;
    margin-top: 35px;
}

h1.site-title strong {
    font-weight: 600;
    color: #fdc719;
}

h1.site-title:after {
    content: "";
    width: 120px;
    height: 6px;
    background: #fdc719;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: -25px
}

/* Mosaic */
.events-mosaic {
    margin-top: 120px;
}

.events-mosaic .last-batch{
	display:none;
}

.events-mosaic .event {
    position: relative;
    margin-bottom: 30px;
}


.events-mosaic .event .parent-spacer{
	height:24px;
}

.events-mosaic .event .image {
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
	display:block;
}

.events-mosaic .event .image img {
    display: block;
    width: 100%;
    margin-top: -10px;
    margin-bottom: -60px;
}

.events-mosaic .event .price {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/price.svg);
    width: 145px;
    height: 182px;
    background-size: contain;
    text-align: right;
    padding-right: 10px;
    padding-top: 13px;
	display:block;
	text-decoration:none!important;
}

.events-mosaic .event .price i {
    color: #fdc719;
    font-size: 40px;
}

.events-mosaic .event .price h4 {
    margin: 0;
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 3px;
    transition:all 200ms ease-out;
    transform: translateZ(0px);
}
.events-mosaic .event .price h4.pop{
    transform: scale(1.2) rotate(-10deg);
}

.events-mosaic .event .price p {
    color: #fdc719;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 300;
}

.events-mosaic .event .traveled-with-us {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/price.svg);
    width: 145px;
    height: 182px;
    background-size: contain;
    text-align: center;
    padding-right: 0;
    padding-top: 6px;
    padding-left: 70px;
}

.events-mosaic .event .traveled-with-us i {
    color: #fdc719;
    font-size: 36px;
    margin-bottom: 6px;
}

.events-mosaic .event .traveled-with-us h4 {
    margin: 0;
    color: #fff;
    font-size: 31px;
    font-weight: 400;
    margin-top: -4px;
    margin-bottom: 3px;
    transition:all 200ms ease-out;
    transform: translateZ(0px);
}

.events-mosaic .event .traveled-with-us p {
    color: #fdc719;
    text-transform: uppercase;
    margin-top: -4px;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 0;
}

.events-mosaic .event .title {
    margin-top: -50px;
    height: 50px;
    padding: 0 10px;
    background: rgba(0,0,0,0.8);
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
    line-height: 50px;
}

.events-mosaic .event .info {
    background: #ebebeb;
    border-bottom: 2px solid #fdc719;
    padding: 10px;
    color: #b6b6b6;
}

.events-mosaic .event .info .places {
    display: inline-block;
}

.events-mosaic .event .info .places span{
    transition:all 200ms linear;
    border-bottom:2px solid transparent;
}
.events-mosaic .event .info .places span:hover{
    cursor:pointer;
    color:#fdc719;
}

.events-mosaic .event .info .places span.active{
    cursor:pointer;
    border-bottom:2px solid #fdc719;
	color:#fdc719;
}

.events-mosaic .event .info .material-icons {
    vertical-align: sub;
}

.read-more{
	text-align:center;
	padding:15px 0;
}
.read-more button{
    padding:15px 20px;
    text-transform:uppercase;
}
.read-more .less{
	display:none;
}
.read-more i{
	transition:all 200ms linear;
}

.read-more .opened i{
	transform:rotate(-180deg);
}
.read-more .opened .less{
	display:inline;
}
.read-more .opened .more{
	display:none;
}

/* Events archive list */

.events-archive{
    margin:10px 0;
}
.events-archive .event{
    border-bottom:1px dashed #ebebeb;
    padding:4px 0
}
.events-archive .event span{
    width:100px;
    text-align:center;
    font-size: 16px;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:1px;
    padding:4px 0;
    background:#ebebeb;
    color:#b6b6b6;
    border-radius:3px;
    margin-right: 10px;
}

/* Bottom */
.promo-bottom-top {
    margin-top: 100px;
    margin-bottom: -1px;
}

.promo-bottom-top img {
    display: block;
    width: 100%;
}

.promo-bottom {
    background: #dadada;
    padding-bottom: 0px;
    position: relative;
}

.promo-bottom .illustration-bus {
    text-align: center;
    margin-top: -30px
}

.promo-bottom .illustration-bus h4 {
    text-transform: uppercase;
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 7px 40px;
    font-size: 15px;
    position: relative;
    line-height: 15px;
    margin-top: 30px;
    transform: rotate(-10deg);
    margin-left: -15px;
}

.promo-bottom .illustration-bus i {
    color: #efc636;
    font-size: 270px;
    display: block;
    margin-top: -55px;
}

.promo-bottom h3 {
    background: #000;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 15px;
    margin-bottom: 40px;
    font-size: 25px;
}

.promo-bottom .advantages {
    margin-top: -90px;
}

.promo-bottom .illustration-pair {
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}

.promo-bottom .illustration-pair i:first-child {
    color: #efc636;
    font-size: 60px;
    margin-left: -40px;
}

.promo-bottom .illustration-pair i:last-child {
    color: #000;
    font-size: 80px;
    float: left;
    position: relative;
}

.promo-bottom h4 {
    text-transform: uppercase;
    text-align: left;
    color: #000;
    font-size: 25px;
    margin-top: 0;
    line-height: 33px;
}

/* Footer */
.pre-footer {
    background: #1d1d1d;
    padding: 30px 0;
    color: 999999;
}

.pre-footer h3 {
    font-size: 18px;
    font-weight: 600;
    color: #999;
    margin-top: 0;
}

.pre-footer img {
    width: 200px;
    margin: 10px auto 0 auto;
}

.pre-footer h3 span {
    color: #fff;
}

.pre-footer p {
    margin-bottom: 3px;
}

.pre-footer a {
    font-weight: 300;
    color: #999999;
    transition: all 200ms linear;
    text-decoration: none;
}

.pre-footer a:hover {
    opacity: 0.5;
}

.pre-footer .social-media img {
    width: 30px;
    display: inline-block;
}

.footer {
    background: #000;
    padding: 8px 0;
    color: #595959;
}

.footer a {
    color: inherit;
    transition: all 200ms linear;
}

.footer a:hover {
    opacity: 0.5;
    text-decoration: none;
}

/* Event detail */
.event-title {
    background: #fdc719;
    height: 100px;
    box-shadow: 0 0 23px rgba(0,0,0,0.2);
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 90px;
    z-index: 1029;
}

.event-title h2 {
    font-weight: 300;
    color: #fff;
    font-size: 35px;
    margin-top: 27px;
}

.event-title .col-right {
    position: relative;
    color: #fff;
    background: #000;
    height: 100px;
    padding-top: 27px;
    font-size: 24px;
    font-weight: 300;
}

.event-title .col-right img {
    display: block;
    position: absolute;
    height: 100px;
    left: -109px;
    top: 0;
}

.event-title .col-right:after {
    content: "";
    background: #000;
    position: absolute;
    right: -500px;
    width: 500px;
    height: 100px;
    top: 0;
}

.event-content {
    margin-top: 190px;
    position: relative;
}.event-form-top {
    display: block;
    margin-bottom: -1px;
    margin-top: -15px;
}

.event-content .data {
    display: inline-block;
    background: #000;
    color: #fff;
    text-align: center;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    font-size: 26px;
    text-transform: uppercase;
    margin-right: 20px;
    margin-top: 70px;
    padding: 0 15px;
}

.event-content .data i {
    vertical-align: middle;
    margin-top: -6px;
}

.event-content .local {
    display: inline-block;
    background: #000;
    color: #fff;
    text-align: center;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    font-size: 26px;
    text-transform: uppercase;
    margin-right: 20px;
    margin-top: 5px;
    padding: 0 15px;
}

.event-content .local i {
    vertical-align: middle;
    margin-top: -6px;
}

.event-content .reservar {
    font-size: 26px;
    height: 48px;
    line-height: 48px;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 0 15px;
}

.event-content .reservar i {
    vertical-align: initial !important;
}

.event-content .district-not-found {
    margin-top: 70px
}

.event-content .district-not-found a {
    color: #999;
    border-bottom: 1px solid #d9d9d9;
    transition: all 200ms linear;
}

.event-content .district-not-found a:hover {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

.event-image {
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.event-form {
    background: #1d1d1d;
    color: #fff;
    padding: 20px;
}
.event-form .alert-success,
.outro-distrito .alert-success {
    color: #d6e9c6;
    background-color: #3c763d;
    border-color: #57a759;
}
.event-form .alert-success a,
.outro-distrito .alert-success a{
	color:#fff;
}

.event-form h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 0;
}

.event-form hr {
    margin-left: -20px;
    margin-right: -20px;
    border: 1px dashed #999;
}

.event-form label {
    color: #999999;
    font-weight: 400;
}

.event-form .form-control {
    color: #fff;
    font-weight: 300;
    background: #3a3a3a;
    border: 1px solid #999999;
    transition: all 200ms linear;
}

.event-form .form-control:focus {
    border-color: #fbbe06;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(251, 190, 6,.6);
}

.event-form .submit {
    text-align: right;
    position: relative;
    margin-top: 40px;
}

.event-form .submit img.event-submit {
    position: absolute;
    width: 30px;
    right: -49px;
    top: -22px
}

.event-form .submit button {
    margin-right: -49px;
    padding: 7px 20px;
    margin-left: 25px;
    text-transform: uppercase;
    border: none;
}

.event-form .submit button:hover {
    border: none;
    color: #fff;
    background: #bd9514;
}

.event-form .submit label a {
    color: inherit;
    border-bottom: 3px solid;
    transition: all 200ms linear;
}

.event-form .submit label a:hover {
    text-decoration: none;
    color: #fff;
}

.event-form .submit label input {
    vertical-align: middle;
    margin-left: 10px;
}

.event-form #final_price_total {
    color: #fdc719;
    font-size: 25px;
    margin-top: -8px;
}

/* Events list */
.events-list {
    margin: 120px 25px 60px 25px;
    display: none;
    transition: all 200ms linear;
}

@media screen and (max-width: 768px) {
    .events-list {
        display:block;
    }
}

.events-list .title {
    background: #fdc719;
    color: #fff;
    padding: 5px 15px;
    font-size: 25px;
    position: relative;
    transition: all 200ms linear;
}

.events-list .title:active {
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.3);
}

.events-list i {
    position: absolute;
    font-size: 30px;
    right: 7px;
    top: 7px;
    transition: all 200ms linear;
}

.events-list.open i {
    transform: rotate(-180deg);
}

.events-list .group {
    background: #ebebeb;
    transition: all 200ms linear;
    height: 0;
    overflow: scroll;
}

.events-list.open {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.events-list.open .group {
    height: 183px;
}

.events-list .group a {
    display: block;
    padding: 5px 15px;
    color: #000;
    text-transform: none;
}

.events-list .group a:first-child {
    margin-top: 10px
}

.events-list .group a:last-child {
    margin-bottom: 10px
}

/* Departures list */
.departures-list {
    margin: 15px 0 0 0;
    transition: all 200ms linear;
}

.departures-list .title {
    background: #f1f1f1;
    color: #999;
    padding: 7px 15px;
    font-size: 19px;
    position: relative;
    transition: all 200ms linear;
    border-bottom: 1px solid #cacaca;
}

.departures-list .title:active {
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.3);
}

.departures-list i {
    position: absolute;
    font-size: 30px;
    right: 7px;
    top: 7px;
    transition: all 200ms linear;
}

.departures-list.open i {
    transform: rotate(-180deg);
}

.departures-list .group {
	background: #f1f1f1;
	list-style-type: none;
	padding: 0;
	max-height: 310px;
	overflow-y: scroll;
}

.departures-list .group li {
    display: block;
    padding: 0px 15px;
    color: #999;
    text-transform: none;
    transition:all 200ms linear;
	overflow:hidden;
}
.departures-list.open .group li,
.departures-list .group li.active {
	padding: 10px 15px;
}
.departures-list .group li:hover,
.departures-list .group li.active {
    color: #fbbe06;
    cursor:pointer;
}
.departures-list .group li:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.departures-list .group li .hora_ida {
    background:#999;
    color:#fff;
    width:50px;
    height:50px;
    line-height:50px;
    display:block;
    float:left;
    text-align:center;
    border-radius:50px;
    margin-right:15px;
    display:block;
    transition:all 200ms linear;
}
.departures-list .group li:hover .hora_ida,
.departures-list .group li.active .hora_ida{
    background: #fbbe06;
}

.departures-list .group li .detalhes {
    display:block;
    font-weight:300;
    font-size:14px;
    padding-left: 65px;
}

.departures-list .group li .nome {
    display:block;
    font-weight:500;
    margin-top:2px
}

.departures-list .group a:first-child {
    margin-top: 10px
}

.departures-list .group a:last-child {
    margin-bottom: 10px
}

/* Layer */
html.layer-open, html.layer-open body {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
}

.layer {
    position: fixed;
    background: rgba(0,0,0,0.9);
    top: 0;
    height: 100%;
    z-index: 1030;
    width: 100%;
    display: none;
    overflow-y: scroll;
}

.layer .layer-close {
    top: 10px;
    right: 25px;
    color: #fff;
    position: fixed;
    font-size: 40px;
    transition: all 200ms linear;
}

.layer .layer-close:hover {
    cursor: pointer;
    opacity: 0.8;
}

.layer .layer-inner {
    color: #fff;
    width: 30%;
    margin: auto;
    font-weight: 300;
    padding: 30px 0;
}

.layer .layer-inner h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    color: #fdc719;
}

.layer .layer-inner p {
    margin-bottom: 35px;
    padding-left: 24px;
}

.layer .layer-inner strong {
    margin-left: -24px;
    width: 24px;
    display: inline-block;
    color: #999;
}

/* Custom content title */

/* Event detail */
.custom-content-title {
    background: rgba(253, 199, 25, 0.9);
    height: 100px;
    box-shadow: 0 0 23px rgba(0,0,0,0.2);
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 90px;
    z-index: 1029;
}

.custom-content-title h2 {
    font-weight: 300;
    color: #fff;
    font-size: 35px;
    margin-top: 27px;
}

.custom-content-title .col-right {
    position: relative;
    color: #fff;
    background: #000;
    height: 100px;
    padding-top: 27px;
    font-size: 24px;
    font-weight: 300;
}

.custom-content-title .col-right img {
    display: block;
    position: absolute;
    height: 100px;
    left: -109px;
    top: 0;
}

.custom-content-title .col-right:after {
    content: "";
    background: #000;
    position: absolute;
    right: -500px;
    width: 500px;
    height: 100px;
    top: 0;
}

.custom-content-headline{
    padding-top: 190px;
    position: relative;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}
.custom-content-headline.como{
    background-position: center top;
    min-height: 490px;
}
.custom-content-headline.contactos-top{
    background-position: center top;
    min-height: 530px;
}

.custom-content-headline h2{
    color:#fff;
    font-size:30px;
    text-align:center;
    margin-bottom:50px;
    line-height:40px;
    font-weight:300;
    position:relative;
}
.custom-content-headline h2:after{
    content: "";
    width: 120px;
    height: 6px;
    background: #fdc719;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: -25px
}

/* Press release */
.press-release{
    margin-top:60px;
    margin-bottom:60px;
}
.press-release a{
    float:left;
    width:20%;
    padding:10px;
    transition:all 200ms linear;
    background:#fff;
}
.press-release a:hover{
    text-decoration:none;
    box-shadow:0 0 8px 0 rgba(0,0,0,0.3);
    transform:scale(1.2)
}
.press-release a .in-wrapper{
    color: #000;
}
.press-release a:first-child{}
.press-release img{
    display:block;
    width:100%;
}
.press-release h6{
    font-size: 19px;
    color: #fdc719;
}
.press-release p{}

/* Como reservar */
.como-reservar{
    margin: 110px 0 170px 0;
}
.como-reservar h2{
    text-align:center;
    margin-bottom:50px
}
.como-reservar ul{
    list-style-type:none;
    padding:0;
    text-align:center;
    font-size: 0;
}
.como-reservar li{
    display: inline-block;
    width: 20%;
    transition:all 300ms ease-out;
    font-size: 16px;
	vertical-align:top;
}
.como-reservar li.hover{
	transform:scale(1.1);
}
.como-reservar li:hover img,
.como-reservar li.hover img{
	filter: saturate(0) brightness(0);
}
.como-reservar li.hover h3,
.como-reservar li:hover h3{
    color:#000;
}
.como-reservar img{
    display:block;
    width:100px;
    margin:auto;
	transition:all 300ms ease-out;
}
.como-reservar h3{
    font-size: 44px;
    margin: 5px 0;
    color: #fdc719;
	transition:all 300ms ease-out;
}

/* Contactos */
.contactos{
	padding:100px 0;
}
.contactos h3{
    margin: 0;
    margin-bottom: 10px;
}
.contactos p{
    color:#999;
    border-bottom:1px dashed #ccc;
    display:block;
    padding-bottom:15px;
    font-weight: 300;
}
.contactos a{
    color: #fdc719;
    font-weight:400;
    border-bottom:2px solid;
    transition:all 200ms linear;
    margin-right:15px
}
.contactos a:hover{
    text-decoration:none;
    color:#000;
}
.contactos .map_iframe{
	display:block;
	width:100%;
	margin-top:20px;
	height:300px;
}

.contactos .form{
	background: #1d1d1d;
    color: #fff;
    padding: 20px;
}

.contactos .form label {
    color: #999999;
    font-weight: 400;
}

.contactos .form .form-control {
    color: #fff;
    font-weight: 300;
    background: #3a3a3a;
    border: 1px solid #999999;
    transition: all 200ms linear;
}

.contactos .form .form-control:focus {
    border-color: #fbbe06;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(251, 190, 6,.6);
}

.contactos .form .submit {
    text-align: right;
    position: relative;
    margin-top: 40px;
}

.contactos .form .submit img.event-submit {
    position: absolute;
    width: 30px;
    right: -49px;
    top: -23px;
}

.contactos .form .submit button {
    margin-right: -49px;
    padding: 7px 20px;
    margin-left: 25px;
    text-transform: uppercase;
    border: none;
}

.contactos .submit button:hover {
    border: none;
    color: #fff;
    background: #bd9514;
}
/* Form de outro distrito */
.outro-distrito{
	background:transparent;
}

.outro-distrito .form label {
    color: #999999;
    font-weight: 400;
}

.outro-distrito .form .form-control {
    color: #fff;
    font-weight: 300;
    background: #3a3a3a;
    border: 1px solid #999999;
    transition: all 200ms linear;
}

.outro-distrito .form .form-control:focus {
    border-color: #fbbe06;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(251, 190, 6,.6);
}
.outro-distrito .form .submit{
	text-align:right;
	color:#fff;
}
.outro-distrito .form .submit button {
    padding: 7px 20px;
    text-transform: uppercase;
    border: none;
	margin-left:20px;
}

.outro-distrito .submit button:hover {
    border: none;
    color: #fff;
    background: #bd9514;
}
#district-not-found iframe{
    width: 100%;
    height: 620px;
}

/* Vantagens */
.vantagens {
    background: #dadada;
    padding-bottom: 0px;
    position: relative;
	text-align:center;
}


.vantagens h3 {
    background: #efc636;
    text-transform: uppercase;
    color: #1d1d1d;
    text-align: center;
    display: inline-block;
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 25px;
}

.vantagens .advantages {
    margin-top: -90px;
}

.vantagens .illustration-pair {
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}

.vantagens .illustration-pair i:first-child {
    color: #efc636;
    font-size: 60px;
    margin-left: -40px;
}

.vantagens .illustration-pair i:last-child {
    color: #000;
    font-size: 80px;
    float: left;
    position: relative;
}

.vantagens h4 {
    text-transform: uppercase;
    text-align: left;
    color: #000;
    font-size: 22px;
    margin-top: 0;
    line-height: 33px;
}

.vantagens p{
	text-align:left;
	margin-bottom:70px;
	margin-left: 110px;
}

.vantagens .atention{
	background:#fff;
	padding:20px;
	margin-bottom:40px;
	border-left:10px solid #efc636;
	border-right:10px solid #efc636;
	box-shadow: 0 0 14px 0 rgba(0,0,0,0.2);
}
.vantagens .atention h4{
	text-align:center;
	margin:20px 0 5;
}
.vantagens .atention p{
	margin-bottom:5px;
	margin-left:0;
}
.vantagens .atention img{
	width:80px;
}

.vantagens-bottom {
    margin-top: -1px;
}

.vantagens-bottom img {
    display: block;
    width: 100%;
	transform:rotate(180deg)
}