@media (max-width: 1330px) {
	/* Resolver homeheader */
	#slides .slidesjs-container, #slides .slidesjs-control {
		height: 550px !important;
	}
}
@media (max-width: 992px){

}
@media (max-width: 1199px) {
	/* Resolver menu */
	.nav > li > a {
		padding-right: 8px;
		padding-left: 8px;
	}
	#slides .slidesjs-container, #slides .slidesjs-control {
		height: 470px !important;
	}
	#slides .inner-wrapper{
		width:970px;
		margin-left:calc(-970px / 2);
	}
	.event-title .col-right,
	.custom-content-title .col-right{
		padding-top: 33px;
		font-size: 20px;
	}
}

@media (max-width: 991px) {
	.nav > li > a {
		padding-right: 4px;
		padding-left: 4px;
		font-size: 13px !important;
		font-weight: 300 !important;
	}
	.navbar-brand > img {
		width: 100px;
	}
	.navbar-fixed-top {
		min-height: 70px;
	}
	#navbar {
		margin-top: 10px;
	}
	.wrapper {
		margin-top: 70px;
	}
	#slides .inner-wrapper{
		width:750px;
		margin-left:calc(-750px / 2);
	}
	.event-title,
	.custom-content-title{
		top: 69px;
	}
	.event-title h2,
	.custom-content-title h2 {
		font-size: 25px;
		margin-top: 35px;
	}
	.event-title .col-right,
	.custom-content-title .col-right {
		padding-top: 38px;
		font-size: 17px;
	}
	.event-content {
		margin-top: 170px;
	}
	.event-content .reservar{
		font-size:17px;
	}
}

@media (max-width: 930px) {
	#slides .slidesjs-container, #slides .slidesjs-control {
		height: 400px !important;
	}
}
@media (max-width: 900px) {
	.copyright{
		margin:20px 0;
		display:block;
	}
	.footer{
		text-align:center;
		padding-bottom:30px;
	}
}

@media (max-width: 767px) {
	h1.site-title{
		font-size:18px;
	}
	h1.site-title strong{
		display:block;
	}
	.promo-bottom .illustration-bus i{
		margin-top:-105px;
	}
	.promo-bottom h4{
		margin-bottom:50px;
		    font-size: 21px;
	}
	.pre-footer{
		text-align:center;
		padding-top:0;
	}
	.pre-footer h3{
		margin-top:50px;
	}
	#slides .filter{
		display:none;
	}
	#slides .inner-wrapper h1 a{
		font-size:30px;
	}
	#slides .slidesjs-container, #slides .slidesjs-control {
		height: 48vw !important;
	}
	#slides .inner-wrapper {
		width: 100%;
		padding: 0;
		bottom: 0;
		left: 0;
		margin-left: 0;
		text-align: center;
		font-size: 0;
	}
	.slidesjs-pagination{
		margin-top:0;
	}
	.slidesjs-navigation{
		display:none !important;
	}
	.slidesjs-pagination li a{
		border: 2px solid #000;
	}
	.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover {
		background: #000;
	}
	#slides .inner-wrapper .call,
	#slides .inner-wrapper .data{
		width:50%;
		margin:0;
		vertical-align: bottom;
	}
	#slides .inner-wrapper .data{
		background:#000;
	}
	#slides .inner-wrapper .call a{
		display:block;
	}
	#slides .inner-wrapper h1{
		margin: 0;
		padding: 5px 10px 18px 10px;
		background: rgba(0,0,0,0.7);
	}
	.search-module{
		display:none;
	}
	#navbar{
		margin-top:0;
	}
	.navbar-toggle {
		border:0;
		margin:0;
		padding: 14px;
	}
	.navbar-toggle:first-child{
		margin-right:15px;
	}
	.navbar-toggle i{
		font-size:37px;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background:transparent;
	}
	.nav > li > a {
		font-size: 18px !important;
		padding: 18px 15px;
	}
	.events-mosaic .event .title{
		font-size:19px;
	}
	.event-title .col-right,
	.custom-content-title .col-right{
		display:none;
	}
	.event-form .submit,
	.contactos .form .submit{
		text-align:center;
	}
	.event-form .submit button,
	.contactos .form .submit button{
		display: block;
		margin: 30px auto 10px auto;
		width: 100%;
	}
	.contactos .submit img.event-submit,
	.event-form .form .submit img.event-submit{
		display:none;
	}
	.contactos .submit label input,
	.event-form .form .submit label input{
		margin-left:5px;
	}
	.event-content .district-not-found {
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.event-image {
		height: 250px;
	}
	.como-reservar {
		margin: 50px 0 90px 0;
	}
	.como-reservar li{
		width: 100%;
		margin-bottom: 50px;
		padding: 0 60px;
	}
	.press-release a{
		width:50%;
	}
	.custom-content-headline {
		padding-top: 110px;
	}
	.custom-content-headline h2{
		padding: 0 30px;
		font-size: 22px;
	}
	.custom-content-headline.contactos-top,
	.custom-content-headline.como	{
		min-height: auto;
	}
	.contactos {
		padding: 40px 0;
	}
	.layer .layer-inner {
		width: 100%;
		padding: 50px 27px;
	}
	.layer .layer-close {
		top: 5px;
		right: 5px;
		font-size: 27px;
	}
}

@media (max-width: 500px) {
	.search-container{
		width: 300px;
		margin-left: -150px;
	}
	
}

